body {
    font-family: Arial, sans-serif;
    height: 100vh;
    background-color: #f4f4f4;
    margin: 0;
}

main {
    display: flex;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100vw;
    height: 20vh;
    text-align: center;
    background-color: #D6C3C3;
}

header > div {
    width : 65%;
}

header img {
    height: 100%;
    width: auto;
}


.left-column {
    width: 30%;
}

.right-column {
    width: 70%;
    padding: 20px;
    background-color: #fff;
}

/* Add more styles for individual sections, fonts, spacing, etc. */
