:root {
    --navbar-width: 8vw;
    --icon-size: 4vw;
    --main-content-margin: var(--navbar-width);
    --rectangle-border: 3px solid white;
}

.appear-on-mobile {
    display: none;
    flex-direction: column;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    position: fixed;
}

#contact {
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    position: fixed;
}

/* General style */
body {
    margin: 0;
    display: flex;
    background-color: #B99BCB;
    overflow-x: hidden;
}

.popup {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    background: white;
    color: black;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: none;
    z-index: 1000;
}


/* Menu style */
aside nav {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--navbar-width);
    height: 100vh;
    background-color: rgba(12.92, 12, 13.46, 0.60);
}

nav a {
    color: white;
    text-decoration: none;
}

nav .icons {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.icons img {
    width: var(--icon-size);
    height: var(--icon-size);
}

.menu-icon{
    width: 10px;
    height: 10px;
}

.icons img:not(:last-child) {
    margin-bottom: 72px;
}

/* Main content */
#main {
    height: 100vh;
    margin-left: var(--main-content-margin);
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;
}

.textArea {
    width: 90%;
    color: #FFF;
    font: normal 400 18px/normal Kalam;
    text-align: justify;
}

.rectangle {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 90%;
    padding: 20px 10px;
    border: var(--rectangle-border);
}

/* Projects viewport */
.projects {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
}

.folder {
    position: relative;
    height: 10vw;
    width: 15vw;
}

.folder img {
    position: absolute;
    top: 0;
    left: 0;
    width: 15vw;
    opacity: 0;
}

.folder img:first-child {
    opacity: 1;
}

#scrollPoint4 .rectangle {
    justify-content: space-around;
}

/* Contact viewport */
#scrollPoint4 img {
    width: 10vw;
}


/* General Mobile Styles */
@media (max-width: 768px) {
    :root {
        --main-content-margin: 0;
    }

    .hide-on-mobile {
        display: none;
    }

    .appear-on-mobile {
        display: flex;
    }
}

/* Height Specific Adjustments */
@media (max-height: 450px) {
    .hide-on-mobile {
        display: none;
    }
    .appear-on-mobile {
        display: flex;
    }
}

@media (max-height: 400px) {
    .textArea {
        font-size: 10px;
    }
}


.name {
    color: white;
    font-size: 25px;
    word-wrap: break-word;
}

.menu-divider {
    width: 285px;
    height: 0;
    border: 1px solid white;
}

.tab {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menu-text {
    color: white;
}

.tab {
    padding: 4px 0;
}

.mobile-return {
    width: 50px;
    margin-left: 10px;
    transform: rotate(-180deg);
}




