/* General style */
body {
    margin: 0;
    padding: 0;
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #B99BCB;
    overflow-x: hidden;
    width: 100dvw;
}


.hide-on-mobile {
    display: flex;
}



.main {
    height: 100dvh;
    margin-left: 162px;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.appear-on-mobile {
    display: none;
    height: 100%;
}

section {
    height: 100dvh;
    display: flex;
    min-width: calc(100dvw - 162px);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;
}

p, h1 {
    color: white;
    text-align: center;
}

p {
    text-align: justify;
}


.rectangle {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 90%;
    min-width: 90%;
    text-align: center;
    border: 3px solid white;
}


/* Menu style */
aside nav {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 162px;
    height: 100dvh;
    background-color: rgba(12.92, 12, 13.46, 0.60);
}

nav a {
    color: white;
    text-decoration: none;
}

nav .icons {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.icons img {
    width: 50px;
    height: 50px;
}

/* Name section */
.name {
    color: white;
    font-size: 3em;
    padding: 20px 200px;
    word-wrap: break-word;
}

/* Biographie section */

.textArea {
    text-align: justify;
    padding: 2rem 3rem;
    font-size: 1.25em;
    max-width: 100%;
}

/* Projects section */
.projects {
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.folder {
    min-width:  30%;
    min-height: 125px;
    padding: 40px 0;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.folder img {
    width: 170px;
    height: 125px;
    position: absolute;
    opacity: 0;
}

.folder img:first-child {
    opacity: 1;
}

/* Contacts */
.contact-icon {
    width: 140px;
    margin: 1rem 0;
}


.popup {
    display: none;
    position: fixed;
    bottom: 70%;
    padding: 10px;
    background: white;
    color: black;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    width: auto;
    align-items: center;
    z-index: 1000;
}

/* Change style for mobile version */
@media (max-width: 850px) or  (max-height:620px) {
    .hide-on-mobile {
        display: none;
    }

    .appear-on-mobile {
        display: flex;
    }

    .rectangle, .projects {
        flex-direction: column;
    }

    .textArea {
        padding: 1rem;
    }

    #scrollPoint2 {
        display: flex;
    }

    section {
        width: 100dvw;
    }
}


.appear-on-mobile {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-icon{
    width: 10px;
    height: 10px;
}

.menu-divider {
    width: 285px;
    height: 0;
    border: 1px solid white;
}

.tab {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.mobile-return {
    max-width: 30px;
    transform: rotate(180deg);
    margin: 0 15px;

}


.mobile-return-menu {
    width: 100%;
    height: fit-content;
}

.mobile-view p {
    font-size: 0.8em;
}


