<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link href="../ressources/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <h1 class="text-bg-dark">
        Portefeuille de compétences
    </h1>
    <div>
        Situation d'Apprentissage et d'Evaluation en deuxième année de BUT informatique
    </div>
    <div>
        Une SAE Qu'est-ce que c'est ?
    </div>
    <div>

    </div>


</body>
</html>