<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Charlotte Lewis - Portefeuille de compétences</title>
    <meta content="Portefeuille de compétences de Charlotte Lewis présentant ses valeurs, sa personnalité, et ses projets professionnels." name="description">
    <meta content="Charlotte Lewis, portefeuille, compétences, projets, informatique" name="keywords">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Cardo:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/bootstrap/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Main CSS File -->
    <link href="../assets/css/main.css" rel="stylesheet">
</head>

<body>

<!-- ======= Header ======= -->
<header class="header d-flex align-items-center fixed-top py-2">
    <div class="container-fluid align-items-center">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg border-bottom" data-bs-theme="dark">
                <div class="container-fluid p-0">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse container-fluid" id="navbarNav">
                        <ul class="navbar-nav container-fluid justify-content-between">
                            <li class="nav-item"><a class="nav-link" href="../index.html">Home</a></li>
                            <li class="nav-item"><a class="nav-link">À propos de moi</a></li>
                            <li class="nav-item"><a class="nav-link" href="proExperiences.html">Expériences professionnelles</a></li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Galerie de projets
                                </a>
                                <ul class="dropdown-menu" style="max-width: fit-content;">
                                    <li><a class="dropdown-item" href="gallery.html">Projets personnels</a></li>
                                    <li><a class="dropdown-item" href="SAE_info.html">SAE et TP</a></li>
                                </ul>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
  </header>
  <!-- End Header -->

<main>
    <section class="my-5 d-flex flex-column justify-content-center align-items-center">
        <div class="mt-5 container">
            <div class="p-3 pb-3 row justify-content-center">
                <div class="col-lg-6 text-center">
                    <h2>À propos de moi</h2>
                </div>
            </div>
        </div>
    </section>

    <!-- ======= About Section ======= -->
    <section>
        <div class="container">
            <div class="row gy-5">
                <div class="col-lg-6 d-flex flex-column">
                    <h6 class="text-center pb-4">
                        Qui suis-je ?
                    </h6>
                    <div class="text-justify d-flex flex-column justify-content-center flex-lg-grow-1">
                        <p>
                            Bonjour ! Je m'appelle Charlotte et je suis étudiante en troisième année de BUT Informatique à l'IUT de Montpellier-Sète, parcours Déploiement d'Applications Communicantes et Sécurisées.
                        </p>
                        <p>
                            Je suis une personne polyvalente avec des compétences en développement web et en administration réseau. Je sais également gérer des projets et communiquer efficacement en équipe.
                        </p>
                        <p>
                            En dehors des études, j'adore participer à des événements comme les Code Game Jam. Travailler en équipe sur des projets et résoudre des problèmes complexes dans des délais serrés me permet de repousser mes limites en tant que développeuse. Ces événements sont également des occasions uniques pour découvrir de nouveaux langages de programmation !
                        </p>
                        <p>
                            En dehors du monde de la programmation, j'ai une grande passion pour l'art, que je pratique à la fois numériquement et traditionnellement. Les romans de science-fiction occupent également une place particulière dans mon cœur. J'aime explorer des univers imaginaires et repousser les frontières de la créativité autant dans le code que sur la toile !
                        </p>
                        <p>
                            En ce qui concerne mes aspirations professionnelles, mon projet à long terme est de devenir développeuse full-stack. J'ai hâte de contribuer à des projets innovants, d'explorer de nouvelles technologies et de jouer un rôle significatif dans le domaine de l'informatique. Mon engagement envers l'apprentissage continu et mon amour pour les défis techniques sont des atouts qui me guideront tout au long de ce passionnant parcours professionnel.
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 content text-justify">
                    <h6 class="text-center mb-4">
                        Mes compétences
                    </h6>
                    <div class="container">
                        <!-- Skill: HTML/CSS -->
                        <div class="mb-4">
                            <div class="position-relative">
                                <p class="p-0">HTML 5/CSS 3</p>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <span class="position-absolute top-0 end-0 badge bg-secondary">90%</span> <!-- Percentage tag -->
                            </div>
                        </div>

                        <!-- Skill: Bootstrap -->
                        <div class="mb-4">
                            <div class="position-relative">
                                <p class="p-0">Bootstrap 5</p>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <span class="position-absolute top-0 end-0 badge bg-secondary">90%</span> <!-- Percentage tag -->
                            </div>
                        </div>

                        <!-- Skill: SQL -->
                        <div class="mb-4">
                            <div class="position-relative">
                                <p class="p-0">SQL</p>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <span class="position-absolute top-0 end-0 badge bg-secondary">80%</span> <!-- Percentage tag -->
                            </div>
                        </div>

                        <!-- Skill: Java -->
                        <div class="mb-4">
                            <div class="position-relative">
                                <p class="p-0">Java 21</p>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <span class="position-absolute top-0 end-0 badge bg-secondary">70%</span> <!-- Percentage tag -->
                            </div>
                        </div>

                        <!-- Skill: PHP -->
                        <div class="mb-4">
                            <div class="position-relative">
                                <p class="p-0">PHP 8</p>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <span class="position-absolute top-0 end-0 badge bg-secondary">60%</span> <!-- Percentage tag -->
                            </div>
                        </div>

                        <!-- Skill: Javascript -->
                        <div class="mb-4">
                            <div class="position-relative">
                                <p class="p-0">Javascript ES13</p>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <span class="position-absolute top-0 end-0 badge bg-secondary">60%</span> <!-- Percentage tag -->
                            </div>
                        </div>

                        <!-- Skill: Git -->
                        <div class="mb-4">
                            <div class="position-relative">
                                <p class="p-0">Git (Github et Gitlab)</p>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <span class="position-absolute top-0 end-0 badge bg-secondary">60%</span> <!-- Percentage tag -->
                            </div>
                        </div>

                        <!-- Skill: Python -->
                        <div class="mb-4">
                            <div class="position-relative">
                                <p class="p-0">Python 3</p>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <span class="position-absolute top-0 end-0 badge bg-secondary">60%</span> <!-- Percentage tag -->
                            </div>
                        </div>

                        <!-- Skill: C -->
                        <div class="mb-4">
                            <div class="position-relative">
                                <p class="p-0">C</p>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <span class="position-absolute top-0 end-0 badge bg-secondary">60%</span> <!-- Percentage tag -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End About Section -->

    <!-- ======= CV Section ======= -->
    <section class="my-5 text-center">
        <div class="container">
            <h2 class="mb-4">Télécharger mon CV</h2>
            <a href="../assets/ressources/CV.pdf" download="CV-Charlotte-Lewis.pdf" class="btn btn-primary">Télécharger</a>
        </div>
    </section><!-- End CV Section -->

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer class="p-3">
    <div class="container d-flex justify-content-center">
        <!-- Go to Top arrow button -->
        <a href="#">
            <i class="bi bi-arrow-up"></i>
        </a>
    </div>
</footer>

<!-- JS Files -->
<script src="../assets/bootstrap/js/bootstrap.bundle.js"></script>

</body>

</html>
