<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projet en cours de construction</title>
    <link rel="stylesheet" href="../ressources/css/underConstruction.css">
</head>
<body>

<div class="container">
    <h1>Project En Construction</h1>
    <p> Ce projet manque encore quelques éléments et n'a pas encore été mis en ligne !</p>
    <div class="notice">
        Revenez bientôt !
    </div>
    <a href="https://c-r-lewis.github.io" class="btn">Retour à la page d'accueil</a>
</div>

</body>
</html>
