<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Charlotte Lewis - Portefeuille de compétences</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Cardo:ital,wght@0,400;0,700;1,400&display=swap"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/bootstrap/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">

    <!-- Main CSS File -->
    <link href="../assets/css/main.css" rel="stylesheet">
</head>

<body>

<!-- ======= Header ======= -->
<header class="header d-flex align-items-center fixed-top py-2">
    <div class="container-fluid align-items-center">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg border-bottom" data-bs-theme="dark">
                <div class="container-fluid p-0">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse container-fluid" id="navbarNav">
                        <ul class="navbar-nav container-fluid justify-content-between">
                            <li><a href="../index.html">Home</a></li>
                            <li><a href="aboutMe.html">A propos de moi</a></li>
                            <li class="dropdown">
                                <a role="button" class="active" data-bs-toggle="dropdown" aria-expanded="false">
                                    <span>Gallerie de projets</span>&nbsp;&nbsp;<i class="bi bi-chevron-down"></i>
                                </a>
                                <ul class="dropdown-menu text-center mt-3 pt-0 container-fluid border-0">
                                    <li><a>Projets personnels</a></li>
                                    <li><a href="SAE_info.html">SAE</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a class="home-page" data-html-target="./contact.php">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header><!-- End Header -->


<main style="margin-top: 70px">
    <div class="row gx-2">
        <!-- Fixed project-info on the left -->
        <div class="col-lg-3 my-5 pt-1 d-none d-lg-flex position-fixed align-items-center flex-column justify-content-center">
            <div class="project-info">
                <h3 class="pb-3">Informations projet</h3>
                <ul>
                    <li class="d-flex flex-column pb-2">
                        <span class="category">Catégorie</span><span>SAE</span>
                    </li>
                    <li class="d-flex flex-column pb-2">
                        <span class="category">Date de projet</span><span>Octobre 2023 - PRESENT</span></li>
                    <li class="d-flex flex-column pb-2"><span class="category">Langage</span><span>Java</span></li>
                    <li class="d-flex flex-column pb-2"><a href="#" class="align-self-start btn">Télécharger</a></li>
                </ul>
            </div>
        </div>

        <!-- Scrollable content on the right -->
        <div class="col-lg-9 offset-lg-3">
            <section class="my-5 d-flex flex-column justify-content-center align-items-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-6 text-center">
                            <h2 class="mb-3">SAE application d'enchères de Vickrey</h2>
                        </div>
                    </div>
                    <div class="row gx-0">
                        <div class="col-sm-6 my-5 pt-1 d-flex d-lg-none flex-column">
                            <div class="project-info">
                                <h3 class="pb-3">Informations projet</h3>
                                <ul>
                                    <li class="d-flex flex-column pb-2">
                                        <span class="category">Catégorie</span><span>SAE</span>
                                    </li>
                                    <li class="d-flex flex-column pb-2">
                                        <span class="category">Date de projet</span><span>Octobre 2023 - PRESENT</span></li>
                                    <li class="d-flex flex-column pb-2"><span class="category">Langage</span><span>Java</span></li>
                                    <li class="d-flex flex-column pb-2"><a href="#" class="align-self-start btn">Télécharger</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row text-justify">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. Risus commodo viverra maecenas accumsan lacus vel
                            facilisis. Tincidunt praesent semper feugiat nibh sed.
                            Facilisi nullam vehicula ipsum a arcu cursus vitae.
                            Consectetur purus ut faucibus pulvinar. Pulvinar etiam non
                            quam lacus suspendisse faucibus interdum. Ultricies leo integer
                            malesuada nunc vel risus commodo viverra. Eget nulla facilisi etiam dignissim
                            diam quis enim lobortis. Rutrum tellus pellentesque eu tincidunt. Massa massa
                            ultricies mi quis hendrerit dolor magna. Nunc mattis enim ut tellus.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. Risus commodo viverra maecenas accumsan lacus vel
                            facilisis. Tincidunt praesent semper feugiat nibh sed.
                            Facilisi nullam vehicula ipsum a arcu cursus vitae.
                            Consectetur purus ut faucibus pulvinar. Pulvinar etiam non
                            quam lacus suspendisse faucibus interdum. Ultricies leo integer
                            malesuada nunc vel risus commodo viverra. Eget nulla facilisi etiam dignissim
                            diam quis enim lobortis. Rutrum tellus pellentesque eu tincidunt. Massa massa
                            ultricies mi quis hendrerit dolor magna. Nunc mattis enim ut tellus.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. Risus commodo viverra maecenas accumsan lacus vel
                            facilisis. Tincidunt praesent semper feugiat nibh sed.
                            Facilisi nullam vehicula ipsum a arcu cursus vitae.
                            Consectetur purus ut faucibus pulvinar. Pulvinar etiam non
                            quam lacus suspendisse faucibus interdum. Ultricies leo integer
                            malesuada nunc vel risus commodo viverra. Eget nulla facilisi etiam dignissim
                            diam quis enim lobortis. Rutrum tellus pellentesque eu tincidunt. Massa massa
                            ultricies mi quis hendrerit dolor magna. Nunc mattis enim ut tellus.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. Risus commodo viverra maecenas accumsan lacus vel
                            facilisis. Tincidunt praesent semper feugiat nibh sed.
                            Facilisi nullam vehicula ipsum a arcu cursus vitae.
                            Consectetur purus ut faucibus pulvinar. Pulvinar etiam non
                            quam lacus suspendisse faucibus interdum. Ultricies leo integer
                            malesuada nunc vel risus commodo viverra. Eget nulla facilisi etiam dignissim
                            diam quis enim lobortis. Rutrum tellus pellentesque eu tincidunt. Massa massa
                            ultricies mi quis hendrerit dolor magna. Nunc mattis enim ut tellus.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. Risus commodo viverra maecenas accumsan lacus vel
                            facilisis. Tincidunt praesent semper feugiat nibh sed.
                            Facilisi nullam vehicula ipsum a arcu cursus vitae.
                            Consectetur purus ut faucibus pulvinar. Pulvinar etiam non
                            quam lacus suspendisse faucibus interdum. Ultricies leo integer
                            malesuada nunc vel risus commodo viverra. Eget nulla facilisi etiam dignissim
                            diam quis enim lobortis. Rutrum tellus pellentesque eu tincidunt. Massa massa
                            ultricies mi quis hendrerit dolor magna. Nunc mattis enim ut tellus.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. Risus commodo viverra maecenas accumsan lacus vel
                            facilisis. Tincidunt praesent semper feugiat nibh sed.
                            Facilisi nullam vehicula ipsum a arcu cursus vitae.
                            Consectetur purus ut faucibus pulvinar. Pulvinar etiam non
                            quam lacus suspendisse faucibus interdum. Ultricies leo integer
                            malesuada nunc vel risus commodo viverra. Eget nulla facilisi etiam dignissim
                            diam quis enim lobortis. Rutrum tellus pellentesque eu tincidunt. Massa massa
                            ultricies mi quis hendrerit dolor magna. Nunc mattis enim ut tellus.
                        </p>
                    </div>
                </div>
            </section>

            <div class="row">
                <!-- ======= Footer ======= -->
                <footer class="p-3">
                    <div class="container d-flex justify-content-center">
                        <!-- Go to Top arrow button -->
                        <a href="#">
                            <i class="bi bi-arrow-up"></i>
                        </a>
                    </div>
                </footer>
            </div>
        </div>

    </div>

</main>
<!-- End main -->




<!-- JS Files -->
<script src="../assets/bootstrap/js/bootstrap.bundle.js"></script>


</body>

</html>