<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>Charlotte Lewis - Portefeuille de compétences</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Cardo:ital,wght@0,400;0,700;1,400&display=swap"
        rel="stylesheet" />

    <!-- Vendor CSS Files -->
    <link href="../../assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../../assets/bootstrap/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />

    <!-- Main CSS File -->
    <link href="../../assets/css/main.css" rel="stylesheet" />
    <link href="../../assets/css/portfolioApprentissage.css" rel="stylesheet" />
    <script src="../../assets/js/accordian.js" defer></script>
</head>

<body>
    <!-- ======= Header ======= -->
    <header class="header d-flex align-items-center fixed-top py-2">
        <div class="container-fluid align-items-center">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-lg border-bottom" data-bs-theme="dark">
                    <div class="container-fluid p-0">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                            aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse container-fluid" id="navbarNav">
                            <ul class="navbar-nav container-fluid justify-content-between">
                                <li class="nav-item"><a class="nav-link" href="../../index.html">Home</a></li>
                                <li class="nav-item"><a class="nav-link" href="../aboutMe.html">À propos de moi</a></li>
                                <li class="nav-item"><a class="nav-link" href="../proExperiences.html">Expériences professionnelles</a></li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" role="button"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                        Galerie de projets
                                    </a>
                                    <ul class="dropdown-menu" style="max-width: fit-content;">
                                        <li><a class="dropdown-item" href="../gallery.html">Projets personnels</a></li>
                                        <li><a class="dropdown-item" href="../SAE_info.html">SAE et TP</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item"><a class="nav-link" href="../contact.html">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <!-- End Header -->

    <main style="margin-top: 80px;">
        <div class="container my-4">
            <div class="row mb-4">
                <div class="col-12 text-end">
                  <a class="btn btn-primary" href="../portfolioApprentissage.html">
                    <i class="bi bi-chevron-left"></i> Retour
                  </a>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="mb-3">Projet de Gestion de Sauvegarde de Fichiers</h2>
                </div>
            </div>
            <!-- =========== Intro =========== -->
            <div class="row justify-content-center mt-3">
                <div class="col-lg-8 text-justify">
                    <ul>
                        <li><strong>Dates du projet</strong> : Décembre 2024 - Janvier 2025</li>
                        <li><strong>Durée du projet</strong> : 3 semaines</li>
                        <li><strong>Contraintes de travail</strong> : Équipe de 3 personnes</li>
                    </ul>
                </div>
            </div>
            <div class="row justify-content-center mt-3">
                <div class="col-lg-8 text-justify">
                    Dans un monde où la numérisation des données est omniprésente, la réalisation de sauvegardes régulières est essentielle. Cependant, peu de personnes prennent cette précaution, et celles qui le font ne mettent pas toujours leurs sauvegardes à jour de manière régulière. Dans le cadre du cours de continuité de service du BUT Informatique, nous avons relevé le défi de créer un programme de gestion de sauvegarde de fichiers. Ce programme permet d'enregistrer des dossiers sur un serveur du même réseau. Ce projet a été réalisé en équipe de trois, avec des délais très serrés (seulement trois semaines !). Pour cette raison, nous avons choisi de coder le projet en Python.
                </div>
            </div>
            <!-- End intro -->
            <div class="row justify-content-center mt-5">
                <h5 class="col-lg-8 text-center">Relation entre les réalisations personnelles et le programme du BUT Informatique</h5>
            </div>

            <!-- ===== Beginning of container ==== -->
            <div class="row justify-content-center my-4">
                <!-- ==== Start first column ==== -->
                <div class="col-md-6">
                    <!-- ===== Start first row ==== -->
                    <div class="card mb-3">
                        <div class="card-header" id="heading1" onclick="toggleCollapse('collapse1')">
                            <div class="d-flex justify-content-between">
                                <h6 class="mb-0">CE 6.04 : Développer une communication efficace et collaborative</h6>
                                <i class="bi bi-chevron-down"></i>
                            </div>
                        </div>
                        <div class="collapse" id="collapse1">
                            <div class="card-body">
                                <p class="text-justify">Niveau de maîtrise : acquis</p>
                                <p class="text-justify">Nous avons beaucoup discuté avant de commencer le projet afin 
                                    de répartir les tâches et que l’architecture de base de l’application soit validée 
                                    par tous les membres du groupe avant de commencer à coder.</p>
                                
                            </div>
                        </div>
                    </div>
                    <!-- End first card -->
                    <!-- ============ Start second row ========== -->
                    <div class="card mb-3">
                        <div class="card-header" id="heading2" onclick="toggleCollapse('collapse2')">
                            <div class="d-flex justify-content-between">
                                <h6 class="mb-0">A3 AC3 : Guider la conduite du changement informatique au sein d’une organisation</h6>
                                <i class="bi bi-chevron-down"></i>
                            </div>
                        </div>
                        <div class="collapse" id="collapse2">
                            <div class="card-body">
                                <p class="text-justify">Niveau de maîtrise : acquis</p>
                                <p class="text-justify">Dès le début, nous avons mis en place une communication 
                                    efficace au sein de l'équipe pour définir clairement les objectifs et répartir 
                                    les tâches. Cette étape initiale a été cruciale pour valider l'architecture 
                                    de base de l'application et s'assurer que tous les membres du groupe étaient 
                                    alignés avant de commencer le développement. Ensuite, nous avons accompagné 
                                    la mise en œuvre des évolutions informatiques en développant un programme 
                                    qui facilite la gestion des données, ce qui est essentiel pour toute 
                                    organisation cherchant à améliorer ses processus de sauvegarde.</p>
                            </div>
                        </div>
                    </div>
                    <!-- End second card -->
                    <!-- ============ Start third row ========== -->
                    <div class="card mb-3">
                        <div class="card-header" id="heading5" onclick="toggleCollapse('collapse5')">
                            <div class="d-flex justify-content-between">
                                <h6 class="mb-0">CE 3.04 : Assurer la continuité de l'activité</h6>
                                <i class="bi bi-chevron-down"></i>
                            </div>
                        </div>
                        <div class="collapse" id="collapse5">
                            <div class="card-body">
                                <p class="text-justify">Niveau de maîtrise : acquis</p>
                                <p class="text-justify">J’ai mis en place un système permettant de vérifier si une 
                                    sauvegarde existe déjà pour un fichier, et de ne le mettre à jour que si un fichier 
                                    ou dossier à l’intérieur du dossier racine a été mis à jour. Cela permet d’éviter 
                                    le ralentissement de l’ordinateur, augmente les chances que l’utilisateur mette 
                                    régulièrement à jour ses données et donc, par extension, la continuité de service 
                                    en cas de pertes de données en local.</p>
                               
                            </div>
                        </div>
                    </div>
                    <!-- End third card -->
                    <!-- ====== Start fourth row ====== -->
                    <div class="card mb-3">
                        <div class="card-header" id="heading7" onclick="toggleCollapse('collapse7')">
                            <div class="d-flex justify-content-between">
                                <h6 class="mb-0">A3 AC1 : Choisir et implémenter les architectures adaptées</h6>
                                <i class="bi bi-chevron-down"></i>
                            </div>
                        </div>
                        <div class="collapse" id="collapse7">
                            <div class="card-body">
                                <p class="text-justify">Niveau de maîtrise : acquis</p>
                                <p class="text-justify">Notre projet de gestion de sauvegarde de fichiers a 
                                    nécessité une réflexion approfondie sur les meilleures pratiques architecturales. 
                                    Dès le début, nous avons opté pour une approche modulaire et extensible, 
                                    en développant le code sous forme de classes. Cette décision a permis de 
                                    structurer le projet de manière claire et organisée, facilitant ainsi la 
                                    maintenance et les futures évolutions. En outre, nous avons veillé à la 
                                    qualité du code et à sa documentation, en incluant des instructions 
                                    d'utilisation détaillées ainsi que des diagrammes de classes et de 
                                    séquences. En choisissant Python comme langage de programmation, nous avons 
                                    maximisé les fonctionnalités disponibles tout en respectant les délais serrés du projet.</p>
                                <a href="https://github.com/c-r-lewis/5av-.git">Lien vers le code source</a><sup>1</sup>
                            </div>
                        </div>
                    </div>
                    <!-- End fourth card -->
                    <!-- ====== Start fifth row ====== -->
                    <div class="card mb-3">
                        <div class="card-header" id="heading9" onclick="toggleCollapse('collapse9')">
                            <div class="d-flex justify-content-between">
                                <h6 class="mb-0">CE 1.06 : Choisir les ressources techniques appropriées</h6>
                                <i class="bi bi-chevron-down"></i>
                            </div>
                        </div>
                        <div class="collapse" id="collapse9">
                            <div class="card-body">
                                <p class="text-justify">Niveau de maîtrise : acquis</p>
                                <p class="text-justify">En vue des délais, j’ai proposé à l’équipe d’utiliser Python, un 
                                    langage de haut niveau, afin de maximiser les fonctionnalités dans le rendu final.</p>
                              
                            </div>
                        </div>
                    </div>
                    <!-- End fifth card -->
                </div>
                <!-- End first column -->
                <!-- ======== Start second column ====== -->
                <div class="col-md-6">
                    <!-- ====== Start first row ====== -->
                    <div class="card mb-3">
                        <div class="card-header" id="heading3" onclick="toggleCollapse('collapse3')">
                            <div class="d-flex justify-content-between">
                                <h6 class="mb-0">CE 6.02 : Accompagner la mise en œuvre des évolutions informatiques</h6>
                                <i class="bi bi-chevron-down"></i>
                            </div>
                        </div>
                        <div class="collapse" id="collapse3">
                            <div class="card-body">
                                <p class="text-justify">Niveau de maîtrise : acquis</p>
                                <p class="text-justify">Le projet que nous avons codé permet de mettre en œuvre des évolutions 
                                    informatiques en facilitant la gestion des données.</p>
                            
                            </div>
                        </div>
                    </div>
                    <!-- End first card -->
                    <!-- ============ Start second row ========== -->
                    <div class="card mb-3">
                        <div class="card-header" id="heading4" onclick="toggleCollapse('collapse4')">
                            <div class="d-flex justify-content-between">
                                <h6 class="mb-0">A3 AC1 : Créer des processus de traitement automatisé</h6>
                                <i class="bi bi-chevron-down"></i>
                            </div>
                        </div>
                        <div class="collapse" id="collapse4">
                            <div class="card-body">
                                <p class="text-justify">Niveau de maîtrise : acquis</p>
                                <p class="text-justify">Nous avons conçu notre programme avec une fonctionnalité permettant de réaliser 
                                    des sauvegardes automatiquement.</p>

                            </div>
                        </div>
                    </div>
                    <!-- End second card -->
                    <!-- ============ Start third row ========== -->
                    <div class="card mb-3">
                        <div class="card-header" id="heading6" onclick="toggleCollapse('collapse6')">
                            <div class="d-flex justify-content-between">
                                <h6 class="mb-0">CE 3.01 : Sécuriser le système d'information</h6>
                                <i class="bi bi-chevron-down"></i>
                            </div>
                        </div>
                        <div class="collapse" id="collapse6">
                            <div class="card-body">
                                <p class="text-justify">Niveau de maîtrise : acquis</p>
                                <p class="text-justify">Nous avons implémenté un moyen de communication avec des sockets 
                                    sécurisés, utilisant des certificats SSL, et nous avons également chiffré les données 
                                    stockées.</p>
                            
                            </div>
                        </div>
                    </div>
                    <!-- End third card -->
                    <!-- ============ Start fourth row ========== -->
                    <div class="card mb-3">
                        <div class="card-header" id="heading8" onclick="toggleCollapse('collapse8')">
                            <div class="d-flex justify-content-between">
                                <h6 class="mb-0">CE 1.04 : Veiller à la qualité du code et à sa documentation</h6>
                                <i class="bi bi-chevron-down"></i>
                            </div>
                        </div>
                        <div class="collapse" id="collapse8">
                            <div class="card-body">
                                <p class="text-justify">Niveau de maîtrise : acquis</p>
                                <p class="text-justify">J’ai été responsable de maintenir à jour la documentation. Cela incluait 
                                    les instructions d’utilisation de l’application ainsi que la documentation technique avec 
                                    des diagrammes de classes et de séquences afin de faciliter le développement futur. 
                                    J’ai également développé le code sous forme de classes afin que le code soit facilement 
                                    extensible.</p>
                                
                            </div>
                        </div>
                    </div>
                    <!-- End fourth card -->
                </div>
                <!-- End second column-->
            </div>
            <!-- End of container -->

            <!-- Début sommaire des traces -->
            <div class="row justify-content-center mt-4">
                <div class="col-lg-8">
                    <p class="underline">Traces</p>
                    <ol>
                        <li><a href="https://github.com/c-r-lewis/5av-.git">Lien vers le code source</a></li>
                      
                    </ol>
                </div>
            </div>
            <!-- Fin sommaire des traces -->
        </div>
    </main>
    <!-- End main -->

    <!-- ======= Footer ======= -->
    <footer class="p-3">
        <div class="container d-flex justify-content-center">
            <!-- Go to Top arrow button -->
            <a href="#">
                <i class="bi bi-arrow-up"></i>
            </a>
        </div>
    </footer>

    <!-- JS Files -->
    <script src="../../assets/bootstrap/js/bootstrap.bundle.js"></script>
    
</body>

</html>
