<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>Charlotte Lewis - Portefeuille de compétences</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Cardo:ital,wght@0,400;0,700;1,400&display=swap"
        rel="stylesheet" />

    <!-- Vendor CSS Files -->
    <link href="../../assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../../assets/bootstrap/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />

    <!-- Main CSS File -->
    <link href="../../assets/css/main.css" rel="stylesheet" />
    <link href="../../assets/css/portfolioApprentissage.css" rel="stylesheet" />
    <script src="../../assets/js/accordian.js" defer></script>
    <style>
        #backToTopBtn {
            position: fixed;
            bottom: 20px;
            right: 20px;
            display: none;
            z-index: 1000;
        }
    </style>
</head>

<body id="fireworks-container">
    <!-- ======= Header ======= -->
    <header class="header d-flex align-items-center fixed-top py-2">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg border-bottom" data-bs-theme="dark">
                <div class="container-fluid p-0">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item"><a class="nav-link" href="../../index.html">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="../aboutMe.html">À propos de moi</a></li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Galerie de projets <i class="bi bi-chevron-down"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="../gallery.html">Projets personnels</a></li>
                                    <li><a class="dropdown-item" href="../SAE_info.html">SAE et TP</a></li>
                                </ul>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="../contact.html">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!-- End Header -->

    <main style="margin-top: 80px;">
        <div class="container my-4">
            <div class="row mb-4">
                <div class="col-12 text-end">
                  <a class="btn btn-primary" href="../portfolioApprentissage.html">
                    <i class="bi bi-chevron-left"></i> Retour
                  </a>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="mb-3">Analyse du système d'information d'une organisation</h2>
                </div>
            </div>
            <!-- =========== Intro =========== -->
            <div class="row justify-content-center mt-3">
                <div class="col-lg-8 text-justify">
                    <ul>
                        <li><strong>Dates du projet</strong> : Mars 2024</li>
                        <li><strong>Durée du projet</strong> : 1 semaine</li>
                        <li><strong>Contraintes de travail</strong> : Travail en binôme</li>
                    </ul>
                </div>
            </div>
            <div class="row justify-content-center mt-3">
                <div class="col-lg-8 text-justify">
                    <p>
                        Ce projet visait à analyser le système d'information d'une organisation en utilisant le modèle de Reix. Pour ce faire, j'ai organisé une réunion avec la directrice de la DSIN de l'université de Montpellier afin d'obtenir des informations sur leur système d'information. J'ai ensuite rédigé un rapport pour mettre en avant les informations recueillies.
                    </p>
                    <p>
                        L'objectif principal du rapport était de comprendre les différents éléments composant le système d'information et d'identifier les éventuels points chauds ou problèmes présents. Le travail réalisé comprenait la présentation synthétique de deux tableaux. Le premier tableau mettait en lumière les caractéristiques du système d'information selon divers paramètres tels que le matériel, les logiciels, le personnel, les données et les procédures. Le deuxième tableau se focalisait sur les caractéristiques de l'information, notamment son acquisition, son traitement, son stockage et sa communication.
                    </p>
                </div>
            </div>
            <!-- End intro -->
            <div class="row justify-content-center mt-5">
                <h5 class="col-lg-8 text-center">Relation entre les réalisations personnelles et le programme du BUT Informatique</h5>
            </div>

            <!-- ===== Beginning of container ==== -->
            <div class="row justify-content-center my-4">
                <!-- ==== Start first column ==== -->
                <div class="col-md-6">
                    <!-- ===== Start first row ==== -->
                    <div class="card mb-3">
                        <div class="card-header" id="heading1" onclick="toggleCollapse('collapse1')">
                            <div class="d-flex justify-content-between">
                                <h6 class="mb-0">AC - A2 5.01 : Identifier les processus présents dans une organisation en vue d’améliorer les systèmes d’information</h6>
                                <i class="bi bi-chevron-down"></i>
                            </div>
                        </div>
                        <div class="collapse" id="collapse1">
                            <div class="card-body">
                                <p class="text-justify">Niveau de maîtrise : acquis</p>
                                <p class="text-justify">
                                    À travers des entretiens approfondis avec les responsables concernés, j'ai recueilli des informations détaillées sur la manière dont l'organisation acquiert, traite, stocke et communique les données. Cette approche m'a permis d'identifier les points forts et les points faibles du système actuel, ainsi que les opportunités d'amélioration. J'ai ensuite synthétisé les caractéristiques des systèmes d'information en utilisant le modèle de Reix, en examinant les paramètres tels que le matériel, les logiciels, le personnel, les données et les procédures.
                                </p>
                                <a href="https://docs.google.com/document/d/1GBZosTT5cmNY-BDke8hn4aH6Kwkv1WYVPOzFxp1F5zM/edit?usp=sharing">Lien vers le compte-rendu</a>
                            </div>
                        </div>
                    </div>
                    <!-- End first card -->
                </div>
                <!-- End first column -->
                <!-- ======== Start second column ====== -->
                <div class="col-md-6">
                    <!-- ====== Start first row ====== -->
                    <div class="card mb-3">
                        <div class="card-header" id="heading3" onclick="toggleCollapse('collapse3')">
                            <div class="d-flex justify-content-between">
                                <h6 class="mb-0">CE 5.03 - Sensibiliser à une gestion éthique, responsable, durable et interculturelle</h6>
                                <i class="bi bi-chevron-down"></i>
                            </div>
                        </div>
                        <div class="collapse" id="collapse3">
                            <div class="card-body">
                                <p class="text-justify">Niveau de maîtrise : acquis</p>
                                <p class="text-justify">
                                    J'ai évalué l'impact environnemental et sociétal des solutions proposées par les différentes DSI, en prenant en compte les implications des solutions mises en œuvre sur la durabilité et la responsabilité sociale de l'organisation. De plus, j'ai discuté de mesures visant à réduire l'empreinte environnementale des systèmes d'information, telles que la virtualisation des serveurs et la réduction de la consommation énergétique. En parlant de ces approches et en essayant de comprendre comment les mettre en œuvre, j'ai contribué à promouvoir une gestion éthique, responsable, durable et interculturelle au sein d'une organisation.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- End second card -->
                </div>
                <!-- End second column-->
            </div>
            <!-- End of container -->

            <!-- Début sommaire des traces -->
            <div class="row justify-content-center mt-4">
                <div class="col-lg-8">
                    <p class="underline">Traces</p>
                    <ol>
                        <li><a href="https://docs.google.com/document/d/1GBZosTT5cmNY-BDke8hn4aH6Kwkv1WYVPOzFxp1F5zM/edit?usp=sharing">Lien vers le compte-rendu</a></li>
                    </ol>
                </div>
            </div>
            <!-- Fin sommaire des traces -->
        </div>
    </main>
    <!-- End main -->

    <!-- Back to Top Button -->
    <button id="backToTopBtn" class="btn btn-primary">
        <i class="bi bi-chevron-up"></i>
    </button>

    <!-- JS Files -->
    <script src="../../assets/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="../../assets/fireworks.js"></script>
    <script>
        // Show the button when the user scrolls down 20px from the top
        window.onscroll = function () {
            scrollFunction();
        };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("backToTopBtn").style.display = "block";
            } else {
                document.getElementById("backToTopBtn").style.display = "none";
            }
        }

        // Scroll to the top of the document
        document.getElementById("backToTopBtn").addEventListener("click", function () {
            document.body.scrollTop = 0; // For Safari
            document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
        });
    </script>
</body>

</html>
