<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>Charlotte Lewis - Portefeuille de compétences</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Cardo:ital,wght@0,400;0,700;1,400&display=swap"
        rel="stylesheet" />

    <!-- Vendor CSS Files -->
    <link href="../../assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../../assets/bootstrap/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />

    <!-- Main CSS File -->
    <link href="../../assets/css/main.css" rel="stylesheet" />
    <link href="../../assets/css/portfolioApprentissage.css" rel="stylesheet" />
    <script src="../../assets/js/accordian.js" defer></script>
</head>

<body>
    <!-- ======= Header ======= -->
    <header class="header d-flex align-items-center fixed-top py-2">
        <div class="container-fluid align-items-center">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-lg border-bottom" data-bs-theme="dark">
                    <div class="container-fluid p-0">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                            aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse container-fluid" id="navbarNav">
                            <ul class="navbar-nav container-fluid justify-content-between">
                                <li class="nav-item"><a class="nav-link" href="../../index.html">Home</a></li>
                                <li class="nav-item"><a class="nav-link" href="../aboutMe.html">À propos de moi</a></li>
                                <li class="nav-item"><a class="nav-link" href="../proExperiences.html">Expériences professionnelles</a></li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" role="button"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                        Galerie de projets
                                    </a>
                                    <ul class="dropdown-menu" style="max-width: fit-content;">
                                        <li><a class="dropdown-item" href="../gallery.html">Projets personnels</a></li>
                                        <li><a class="dropdown-item" href="../SAE_info.html">SAE et TP</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item"><a class="nav-link" href="../contact.html">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <!-- End Header -->



    <main style="margin-top: 80px;">
        <div class="container my-4">
            <div class="row mb-4">
                <div class="col-12 text-end">
                    <a class="btn btn-primary" href="../portfolioApprentissage.html">
                        <i class="bi bi-chevron-left"></i> Retour
                    </a>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="mb-3">Maria Pizza - Implémentation d'une base de données relationnelle</h2>
                </div>
            </div>
            <!-- =========== Intro =========== -->
            <div class="row justify-content-center mt-3">
                <div class="col-lg-8 text-justify">
                    <ul>
                        <li><strong>Dates du projet</strong> : Décembre 2022</li>
                        <li><strong>Durée du projet</strong> : 1 semaine</li>
                        <li><strong>Contraintes de travail</strong> : Équipe de 4 personnes</li>
                    </ul>
                </div>
            </div>
            <div class="row justify-content-center mt-3">
                <div class="col-lg-8 text-justify">
                    Ce projet a été basé sur la création d'un scénario fictif, dans lequel j'ai travaillé sur la
                    digitalisation du stockage des informations pour un client cherchant à moderniser ses opérations. Je
                    vous présente donc Maria Pizza, une chaîne de pizzerias proposant des pizzas à emporter ou à
                    déguster sur place.
                </div>
            </div>
            <!-- End intro -->

            <div class="row justify-content-center mt-5">
                <h5 class="col-lg-8 text-center">Relation entre les réalisations personnelles et le programme du BUT
                    Informatique</h5>
            </div>


            <!-- ===== Beginning of container ==== -->
            <div class="row justify-content-center my-4">
                <!-- ==== Start first column ==== -->
                <div class="col-md-6">
                    <!-- ===== Start first card ==== -->
                    <div class="card mb-3">
                        <div class="card-header" id="heading1" onclick="toggleCollapse('collapse1')">
                            <div class="d-flex justify-content-between">
                                <h6 class="mb-0">CE - 4.02 : Respecter les enjeux économiques, sociétaux et écologiques
                                    de l'utilisation du stockage de données, ainsi que les différentes infrastructures
                                </h6>
                                <i class="bi bi-chevron-down"></i>
                            </div>
                        </div>
                        <div class="collapse" id="collapse1">
                            <div class="card-body">
                                <p class="text-justify">Niveau de maîtrise : acquis</p>

                                <p class="text-justify">
                                    J'ai effectué une analyse approfondie des coûts associés à l'implémentation d'une
                                    base de données, en tenant compte des coûts de mise en place, de maintenance et de
                                    gestion à long terme. Cette évaluation m'a permis de comprendre l'impact financier
                                    de cette transition sur l'entreprise et de rechercher des solutions économiquement
                                    viables.
                                </p>

                                <p class="text-justify">
                                    Ma réflexion s'est également concentrée sur les avantages sociétaux de l'utilisation
                                    d'une base de données, notamment en termes de satisfaction client et d'amélioration
                                    de l'expérience utilisateur. En visant à rendre la gestion des commandes et des
                                    clients plus rapide et plus efficace, j'ai cherché à optimiser les processus
                                    internes de l'entreprise tout en offrant un meilleur service à la clientèle.
                                </p>

                                <a href="https://drive.google.com/file/d/1OynDLq0Ws5WLzC3pPJI-S_IR2jDmtr0h/view?usp=sharing"
                                target="_blank">
                                    Lien vers le compte-rendu
                                </a><sup>1</sup>
                            </div>
                        </div>
                    </div>
                    <!-- End first card -->
                </div>
                <!-- End first column -->
                <!-- ======== Start second column ====== -->
                <div class="col-md-6">
                    <!-- ============ Start second card ========== -->
                    <div class="card mb-3">
                        <div class="card-header" id="heading2" onclick="toggleCollapse('collapse2')">
                            <div class="d-flex justify-content-between">
                                <h6 class="mb-0">AC - A1 4.02 : Concevoir une base de données relationnelle à partir
                                    d'un cahier des charges</h6>
                                <i class="bi bi-chevron-down"></i>
                            </div>
                        </div>
                        <div class="collapse" id="collapse2">
                            <div class="card-body">

                                <p class="text-justify">
                                    Niveau de maîtrise : acquis
                                </p>
                                <p class="text-justify">
                                    J'ai commencé par analyser les besoins et les exigences du projet en termes de
                                    stockage et de gestion des données. Cette étape m'a permis d'identifier les entités,
                                    les attributs et les relations qui devaient être pris en compte dans la conception
                                    de la base de données.
                                </p>

                                <p class="text-justify">
                                    Ensuite, j'ai élaboré le modèle conceptuel de la base de données en utilisant la
                                    méthode de modélisation entité-association apprise en cours d'introduction aux bases
                                    de données, me permettant de représenter les entités du système, ainsi que leurs
                                    attributs et les relations entre elles, sous forme de diagrammes clairs et
                                    compréhensibles. Cette étape était cruciale pour visualiser la structure globale de
                                    la base de données et pour identifier les différentes entités et leurs interactions.
                                </p>
                                <p class="text-justify">
                                    Une fois le modèle conceptuel établi, j'ai procédé à la conception du schéma
                                    relationnel, qui définit la structure physique de la base de données en termes de
                                    tables, de colonnes et de clés étrangères. J'ai veillé à normaliser le schéma
                                    relationnel afin d'éliminer les redondances et les anomalies, garantissant ainsi
                                    l'intégrité et l'efficacité des données stockées.
                                </p>
                                <p class="text-justify">
                                    Enfin, j'ai rédigé un script SQL pour créer la base de données selon le modèle
                                    conceptuel et le schéma relationnel établis. Ce script comprenait des instructions
                                    pour la création des tables et des contraintes d'intégrité, assurant ainsi la mise
                                    en place correcte et cohérente de la base de données.
                                </p>
                                <a
                                    href="https://drive.google.com/file/d/1Ng_5V0sEir5LUXyIeLqrm6AQ1IfZ46nw/view?usp=sharing"
                                    target="_blank">Lien
                                    vers le cahier des charges
                                </a><sup>2</sup>
                            </div>
                        </div>
                    </div>
                    <!-- End second card -->

                </div>
                <!-- End second column-->
            </div>
            <!-- End of container -->

            <!-- Début sommaire des traces -->
            <div class="row justify-content-center mt-4">
                <div class="col-lg-8">
                    <p class="underline">Traces</p>
                    <ol>
                        <li><a href="https://drive.google.com/file/d/1OynDLq0Ws5WLzC3pPJI-S_IR2jDmtr0h/view?usp=sharing"
                                target="_blank">Lien vers le compte-rendu</a></li>
                        <li><a href="https://drive.google.com/file/d/1Ng_5V0sEir5LUXyIeLqrm6AQ1IfZ46nw/view?usp=sharing"
                                target="_blank">Lien vers le cahier des charges</a></li>
                    </ol>
                </div>
            </div>
            <!-- Fin sommaire des traces -->
        </div>
    </main>
    <!-- End main -->

    <!-- ======= Footer ======= -->
    <footer class="p-3">
        <div class="container d-flex justify-content-center">
            <!-- Go to Top arrow button -->
            <a href="#">
                <i class="bi bi-arrow-up"></i>
            </a>
        </div>
    </footer>
    <!-- JS Files -->
    <script src="../../assets/bootstrap/js/bootstrap.bundle.js"></script>

</body>

</html>