<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>Charlotte Lewis - Portefeuille de compétences</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Cardo:ital,wght@0,400;0,700;1,400&display=swap"
        rel="stylesheet" />

    <!-- Vendor CSS Files -->
    <link href="../../assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../../assets/bootstrap/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />

    <!-- Main CSS File -->
    <link href="../../assets/css/main.css" rel="stylesheet" />
    <link href="../../assets/css/portfolioApprentissage.css" rel="stylesheet" />
    <script src="../../assets/js/accordian.js" defer></script>
</head>

<body>
    <!-- ======= Header ======= -->
    <header class="header d-flex align-items-center fixed-top py-2">
        <div class="container-fluid align-items-center">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-lg border-bottom" data-bs-theme="dark">
                    <div class="container-fluid p-0">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                            aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse container-fluid" id="navbarNav">
                            <ul class="navbar-nav container-fluid justify-content-between">
                                <li class="nav-item"><a class="nav-link" href="../../index.html">Home</a></li>
                                <li class="nav-item"><a class="nav-link" href="../aboutMe.html">À propos de moi</a></li>
                                <li class="nav-item"><a class="nav-link" href="../proExperiences.html">Expériences professionnelles</a></li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" role="button"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                        Galerie de projets
                                    </a>
                                    <ul class="dropdown-menu" style="max-width: fit-content;">
                                        <li><a class="dropdown-item" href="../gallery.html">Projets personnels</a></li>
                                        <li><a class="dropdown-item" href="../SAE_info.html">SAE et TP</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item"><a class="nav-link" href="../contact.html">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <!-- End Header -->

    <main style="margin-top: 80px;">
        <div class="container my-4">
            <div class="row mb-4">
                <div class="col-12 text-end">
                    <a class="btn btn-primary" href="../portfolioApprentissage.html">
                        <i class="bi bi-chevron-left"></i> Retour
                    </a>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="mb-3">Étude de statistiques - De fichiers Excel vers une base de données</h2>
                </div>
            </div>
            <!-- =========== Intro =========== -->
            <div class="row justify-content-center mt-3">
                <div class="col-lg-8 text-justify">
                    <ul>
                        <li><strong>Dates du projet</strong> : Mai 2023</li>
                        <li><strong>Durée du projet</strong> : 1 semaine</li>
                        <li><strong>Contraintes de travail</strong> : Équipe de 3 personnes</li>
                    </ul>
                </div>
            </div>
            <div class="row justify-content-center mt-3">
                <div class="col-lg-8 text-justify">
                    J'ai créé une base de données à partir de fichiers Excel contenant des données sur les étudiants. Mon objectif principal était de simplifier l'analyse des tendances des notes des étudiants et de déterminer si la moyenne générale des étudiants était en hausse ou non. Pour ce faire, j'ai d'abord trié les données erronées et incohérentes, assurant ainsi la fiabilité de ma base de données. En éliminant les données incorrectes, j'ai pu créer un ensemble de données propre et structuré, prêt à être analysé. En utilisant des techniques d'analyse de données, j'ai exploré les tendances des notes des étudiants sur plusieurs années. Cette analyse m'a permis d'identifier d'éventuelles évolutions dans les performances des étudiants au fil du temps. Le but de ce projet était de créer une plateforme efficace pour mieux comprendre les performances des étudiants et orienter les politiques éducatives.
                </div>
            </div>
            <!-- End intro -->
            <div class="row justify-content-center mt-5">
                <h5 class="col-lg-8 text-center">Relation entre les réalisations personnelles et le programme du BUT Informatique</h5>
            </div>

            <!-- ===== Beginning of container ==== -->
            <div class="row justify-content-center my-4">
                <!-- ==== Start first column ==== -->
                <div class="col-md-6">
                    <!-- ===== Start first card ==== -->
                    <div class="card mb-3">
                        <div class="card-header" id="heading1" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                            <div class="d-flex justify-content-between">
                                <h6 class="mb-0">CE 4.03 : S'appuyer sur des bases mathématiques</h6>
                                <i class="bi bi-chevron-down"></i>
                            </div>
                        </div>
                        <div class="collapse show" id="collapse1">
                            <div class="card-body">
                                <p class="text-justify">Niveau de maîtrise : acquis</p>
                                <p class="text-justify">
                                    J'ai organisé les données de manière méthodique, en veillant à ce qu'elles soient complètes et précises. Ensuite, j'ai appliqué des techniques statistiques pour extraire des informations significatives à partir de ces données.
                                </p>
                                <p class="text-justify">
                                    J'ai utilisé des concepts mathématiques fondamentaux tels que les moyennes, les médianes et les écarts-types pour caractériser la distribution des données et identifier les tendances générales. Par exemple, en calculant la moyenne des notes des élèves dans différentes matières, j'ai pu obtenir un aperçu global de leurs performances académiques. De même, en calculant l'écart-type des scores d'admission, j'ai pu évaluer la dispersion des résultats et identifier les variations entre les différents groupes d'élèves.
                                </p>
                                <p class="text-justify">
                                    En outre, j'ai utilisé des méthodes plus avancées telles que l'analyse de corrélation pour étudier les relations entre différentes variables. Par exemple, j'ai analysé la corrélation entre l'absentéisme des élèves et leurs performances scolaires pour déterminer s'il existait un lien significatif entre les deux. Cette analyse m'a permis de prendre des décisions éclairées et de formuler des recommandations basées sur des preuves pour améliorer les résultats académiques des élèves.
                                </p>
                                <a href="https://docs.google.com/spreadsheets/d/1YlMGhQwKjF4fV42-XAF4KDglPQlzqnDM4gaDk5aVdeU/edit?usp=sharing"
                                target="_blank">
                                    Quelques statistiques recueillies
                                </a><sup>1</sup>
                            </div>
                        </div>
                    </div>
                    <!-- End first card -->
                    <!-- ===== Start second card ====== -->
                    <div class="card mb-3">
                        <div class="card-header" id="heading3" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                            <div class="d-flex justify-content-between">
                                <h6 class="mb-0">AC - A1 4.02 : Visualiser des données</h6>
                                <i class="bi bi-chevron-down"></i>
                            </div>
                        </div>
                        <div class="collapse" id="collapse3">
                            <div class="card-body">
                                <p class="text-justify">Niveau de maîtrise : acquis</p>
                                <p class="text-justify">
                                    J'ai utilisé divers outils et techniques pour interpréter et présenter les informations contenues dans la base de données de manière claire et compréhensible.
                                </p>
                                <p class="text-justify">
                                    Tout d'abord, j'ai exploité des outils spécialisés tels que DBeaver, qui offrent une interface graphique conviviale permettant d'explorer les données stockées dans la base de données. Grâce à cette interface, j'ai pu naviguer facilement à travers les différentes tables, colonnes et enregistrements, facilitant ainsi l'accès aux informations pertinentes.
                                </p>
                                <p class="text-justify">
                                    En utilisant les fonctionnalités de visualisation intégrées à DBeaver, j'ai également été en mesure de créer des graphiques et des diagrammes à partir des données extraites de la base de données. Ces graphiques ont permis de mettre en évidence des tendances, des corrélations ou des modèles significatifs présents dans les données, offrant ainsi une perspective visuelle qui facilite la compréhension et l'interprétation.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- End second card -->
                </div>
                <!-- End first column -->
                <!-- ======== Start second column ====== -->
                <div class="col-md-6">
                    <!-- ===== Start third card ====== -->
                    <div class="card mb-3">
                        <div class="card-header" id="heading2" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                            <div class="d-flex justify-content-between">
                                <h6 class="mb-0">CE 4.04 : S'assurer de la cohérence et la qualité</h6>
                                <i class="bi bi-chevron-down"></i>
                            </div>
                        </div>
                        <div class="collapse" id="collapse2">
                            <div class="card-body">
                                <p class="text-justify">Niveau de maîtrise : acquis</p>
                                <p class="text-justify">
                                    J'ai rédigé des requêtes SQL pour interroger les données et identifier toute incohérence, anomalie ou erreur potentielle dans les enregistrements.
                                </p>
                                <p class="text-justify">
                                    En examinant attentivement les résultats de ces requêtes, j'ai pu repérer des incohérences telles que des doublons, des valeurs manquantes ou incorrectes et des clés étrangères non respectées. Une fois ces incohérences identifiées, j'ai procédé à une analyse pour comprendre les causes sous-jacentes de ces problèmes.
                                </p>
                                <p class="text-justify">
                                    Ensuite, j'ai entrepris les actions nécessaires pour corriger les incohérences détectées. Cela a impliqué des mises à jour de données ciblées, des modifications de schéma de base de données, ou des ajustements dans les règles de gestion des données. J'ai veillé à ce que toutes les modifications apportées respectent les contraintes d'intégrité et les standards de qualité établis pour la base de données.
                                </p>
                                <p class="text-justify">
                                    Par la suite, j'ai effectué des tests rigoureux pour vérifier l'efficacité de ces corrections et m'assurer que la cohérence des données a été rétablie. Cela a inclus la validation des requêtes SQL, la vérification des contraintes d'intégrité, et la comparaison des résultats avant et après les corrections.
                                </p>
                                <a href="https://drive.google.com/file/d/1rWDbj6HXPt-vrQw8oSDVa-2uck7nZV9N/view?usp=sharing"
                                target="_blank">
                                    Exemples de requêtes permettant de révéler des incohérences
                                </a><sup>2</sup>
                            </div>
                        </div>
                    </div>
                    <!-- End third card -->
                    <!-- ===== Start fourth card ====== -->
                    <div class="card mb-3">
                        <div class="card-header" id="heading4" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                            <div class="d-flex justify-content-between">
                                <h6 class="mb-0">AC - A1 2.03 : Formaliser et mettre en œuvre des outils mathématiques pour l’informatique</h6>
                                <i class="bi bi-chevron-down"></i>
                            </div>
                        </div>
                        <div class="collapse" id="collapse4">
                            <div class="card-body">
                                <p class="text-justify">Niveau de maîtrise : acquis</p>
                                <p class="text-justify">
                                    J'ai utilisé des outils mathématiques que j'ai appris en cours comme les pourcentages, les quartiles, les probabilités et les moyennes pondérées pour réaliser une étude effective des données fournies.
                                </p>
                                <a href="https://docs.google.com/document/d/16Wi2-NOn2z0knSqs7pnuHSRjnCFZRAjc0UbXfhk2BMI/edit?usp=sharing"
                                target="_blank">
                                    Lien vers le compte-rendu
                                </a><sup>3</sup>
                            </div>
                        </div>
                    </div>
                    <!-- End fourth card -->
                </div>
                <!-- End second column-->
            </div>
            <!-- End of container -->

            <!-- Début sommaire des traces -->
            <div class="row justify-content-center mt-4">
                <div class="col-lg-8">
                    <p class="underline">Traces</p>
                    <ol>
                        <li><a href="https://docs.google.com/spreadsheets/d/1YlMGhQwKjF4fV42-XAF4KDglPQlzqnDM4gaDk5aVdeU/edit?usp=sharing"
                            target="_blank">Quelques statistiques recueillies</a></li>
                        <li><a href="https://drive.google.com/file/d/1rWDbj6HXPt-vrQw8oSDVa-2uck7nZV9N/view?usp=sharing"
                            target="_blank">Exemples de requêtes permettant de révéler des incohérences</a></li>
                        <li><a href="https://docs.google.com/document/d/16Wi2-NOn2z0knSqs7pnuHSRjnCFZRAjc0UbXfhk2BMI/edit?usp=sharing"
                            target="_blank">Lien vers le compte-rendu</a></li>
                    </ol>
                </div>
            </div>
            <!-- Fin sommaire des traces -->
        </div>
    </main>
    <!-- End main -->

    <!-- ======= Footer ======= -->
    <footer class="p-3">
        <div class="container d-flex justify-content-center">
            <!-- Go to Top arrow button -->
            <a href="#">
                <i class="bi bi-arrow-up"></i>
            </a>
        </div>
    </footer>

    <!-- JS Files -->
    <script src="../../assets/bootstrap/js/bootstrap.bundle.js"></script>

</body>

</html>
