<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Charlotte Lewis - Alternance</title>
    <meta name="description" content="Détails de l'alternance de Charlotte Lewis chez Factory 456, spécialisée dans l'automatisation des processus.">
    <meta name="keywords" content="Charlotte Lewis, alternance, automatisation, processus, Factory 456">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Cardo:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../../assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../assets/bootstrap/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Main CSS File -->
    <link href="../../assets/css/main.css" rel="stylesheet">
    <link href="../../assets/css/portfolioApprentissage.css" rel="stylesheet">
    <script src="../../assets/js/accordian.js" defer></script>
</head>

<body style="min-width: 100vw" id="fireworks-container">
    <!-- ======= Header ======= -->
    <header class="header d-flex align-items-center fixed-top py-2">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg border-bottom" data-bs-theme="dark">
                <div class="container-fluid p-0">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item"><a class="nav-link" href="../../index.html">Accueil</a></li>
                            <li class="nav-item"><a class="nav-link" href="../aboutMe.html">À propos de moi</a></li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Galerie de projets
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="../gallery.html">Projets personnels</a></li>
                                    <li><a class="dropdown-item" href="../SAE_info.html">SAE et TP</a></li>
                                </ul>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="../contact.html">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!-- End Header -->

    <main style="margin-top: 80px; min-width: 100vw">
        <div class="container my-4">
            <div class="row mb-4">
                <div class="col-12 text-end">
                    <a class="btn btn-primary" href="../portfolioApprentissage.html">
                        <i class="bi bi-chevron-left"></i> Retour
                    </a>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="mb-4">Mon Alternance chez Factory 456</h2>
                </div>
            </div>
            <!-- =========== Intro =========== -->
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <p class="text-justify">
                        Factory 456 est une petite entreprise spécialisée dans l'automatisation des processus. Grâce à des robots logiciels basés sur l'Intelligence Artificielle, l'entreprise aide à transformer les tâches répétitives et chronophages en opérations automatisées, permettant ainsi aux professionnels de se concentrer sur des missions à forte valeur ajoutée.
                    </p>
                </div>
            </div>
            <!-- End Intro -->

            <!-- ======= Missions Section ======= -->
            <div class="row justify-content-center mt-5">
                <h5 class="col-10 text-center">Missions Réalisées</h5>
            </div>

            <!-- ===== Beginning of Container ==== -->
            <div class="row justify-content-center my-4">
                <!-- ==== Start First Column ==== -->
                <div class="col-md-6">
                    <!-- ===== Start First Card ===== -->
                    <div class="card mb-3">
                        <div class="card-header" id="heading1" onclick="toggleCollapse('collapse1')">
                            <div class="d-flex justify-content-between align-items-center">
                                <h6 class="mb-0">
                                    Automatisation du Traitement des Données Hebdomadaires pour Universel Studio France
                                </h6>
                                <i class="bi bi-chevron-down"></i>
                            </div>
                        </div>
                        <div class="collapse" id="collapse1">
                            <div class="card-body">
                                <ul>
                                    <li>Développement d'un script de macros Excel et d'un script UiPath Studio pour trier et formater les données reçues hebdomadairement.</li>
                                    <li>Automatisation de l'envoi des données formatées via des emails personnalisés aux utilisateurs concernés.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- End First Card -->

                    <!-- ===== Start Second Card ===== -->
                    <div class="card mb-3">
                        <div class="card-header" id="heading2" onclick="toggleCollapse('collapse2')">
                            <div class="d-flex justify-content-between align-items-center">
                                <h6 class="mb-0">
                                    Automatisation de la Validation des Inscriptions aux Webinars pour ARAPL Grand Ouest
                                </h6>
                                <i class="bi bi-chevron-down"></i>
                            </div>
                        </div>
                        <div class="collapse" id="collapse2">
                            <div class="card-body">
                                <ul>
                                    <li>Création d'un script UiPath pour automatiser la validation des inscriptions aux webinaires sur le site web Kairos.</li>
                                    <li>Utilisation de l'API INPI pour récolter les informations nécessaires à la validation des inscriptions.</li>
                                    <li>Intégration de l'API Claude IA pour déduire les codes APE à partir des professions.</li>
                                    <li>Envoi automatisé de mails pour demander ou relancer les informations nécessaires à la validation des inscriptions.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- End Second Card -->

                    <!-- ===== Start Third Card ===== -->
                    <div class="card mb-3">
                        <div class="card-header" id="heading3" onclick="toggleCollapse('collapse3')">
                            <div class="d-flex justify-content-between align-items-center">
                                <h6 class="mb-0">
                                    Extraction et Migration de Données pour Cerfrance
                                </h6>
                                <i class="bi bi-chevron-down"></i>
                            </div>
                        </div>
                        <div class="collapse" id="collapse3">
                            <div class="card-body">
                                <ul>
                                    <li>Développement d'un script en C# pour extraire des données de fichiers FDI.</li>
                                    <li>Automatisation de la migration des données extraites vers les systèmes de Cerfrance.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- End Third Card -->
                </div>
                <!-- End First Column -->

                <!-- ======== Start Second Column ====== -->
                <div class="col-md-6">
                    <!-- ===== Start Fourth Card ===== -->
                    <div class="card mb-3">
                        <div class="card-header" id="heading4" onclick="toggleCollapse('collapse4')">
                            <div class="d-flex justify-content-between align-items-center">
                                <h6 class="mb-0">
                                    Analyse et Automatisation des Processus Clients
                                </h6>
                                <i class="bi bi-chevron-down"></i>
                            </div>
                        </div>
                        <div class="collapse" id="collapse4">
                            <div class="card-body">
                                <ul>
                                    <li>Réalisation d'enquêtes approfondies auprès des clients pour identifier les étapes clés nécessaires à l'automatisation de leurs processus.</li>
                                    <li>Maintien d'une relation continue avec les clients pour assurer une compréhension précise de leurs besoins et attentes.</li>
                                    <li>Présentation détaillée du projet final, mettant en avant les solutions d'automatisation développées et leur impact positif sur l'efficacité opérationnelle des clients.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- End Fourth Card -->
                </div>
                <!-- End Second Column -->
            </div>
            <!-- End of Container -->

            <!-- ======= Video Proofs Section ======= -->
            <div class="row justify-content-center mt-4">
                <div class="col-10">
                    <p class="underline">Preuves Vidéos</p>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="URL_DE_LA_VIDÉO" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <!-- End Video Proofs Section -->
        </div>
    </main>
    <!-- End Main -->

    <!-- Back to Top Button -->
    <button id="backToTopBtn" class="btn btn-primary">
        <i class="bi bi-chevron-up"></i>
    </button>

    <!-- JS Files -->
    <script src="../../assets/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="../../assets/fireworks.js"></script>
    <script>
        // Show the button when the user scrolls down 20px from the top
        window.onscroll = function () {
            scrollFunction();
        };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("backToTopBtn").style.display = "block";
            } else {
                document.getElementById("backToTopBtn").style.display = "none";
            }
        }

        // Scroll to the top of the document
        document.getElementById("backToTopBtn").addEventListener("click", function () {
            document.body.scrollTop = 0; // For Safari
            document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
        });
    </script>
</body>

</html>
