<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Qui suis-je?</title>
    <link rel="stylesheet" href="../../ressources/css/root.css">
</head>
<body>

    <section id="scrollPoint2" class="appear-on-mobile">

        <div class="mobile-return-menu">
            <a href="https://c-r-lewis.github.io/">
                <img class="mobile-return" alt="Retour" src="../../ressources/images/arrow-icon.png">
            </a>
        </div>

        <div class="rectangle">
            <div class="textArea">
                <p>
                    Actuellement en deuxième année de BUT informatique, spécialisée en déploiement
                    d'applications communicantes et sécurisées,
                    je suis une personne polyvalente qui possède des compétences en
                    développement web et en administration réseau. Je sais aussi gérer un
                    projet et communiquer et travailler en équipe.
                </p>

                <p>
                    Au-delà des études, j'adore participer à des événements tels que les Code Game
                    Jam car travailler en équipe sur des projets et résoudre des problèmes
                    complexes dans des délais serrés me permet de repousser mes limites en tant
                    que développeuse. Ces types d'événements sont aussi des occasions inouïes pour
                    découvrir de nouveaux langages de programmation !
                </p>

                <p>
                    J'ai également une passion pour le dessin, que ce soit digital ou traditionnel,
                    et j'adore les romans de science-fiction !
                </p>

                <p>
                    En ce qui concerne mes aspirations professionnelles, mon projet à long terme
                    est de devenir développeuse full-stack. J'ai hâte de contribuer à des
                    projets innovants, d'explorer de nouvelles technologies et de jouer un rôle
                    significatif dans le domaine de l'informatique. Mon engagement envers
                    l'apprentissage continu et mon amour pour les défis techniques sont des
                    atouts qui me guideront tout au long de ce passionnant parcours professionnel.
                </p>
            </div>
        </div>

    </section>
</body>
</html>