<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Qui suis-je?</title>
    <link rel="stylesheet" href="../../ressources/css/root.css">
</head>
<body>

    <section id="scrollPoint2" class="appear-on-mobile">

        <div class="mobile-return-menu">
            <a href="https://c-r-lewis.github.io/">
                <img class="mobile-return" alt="Retour" src="../../ressources/images/arrow-icon.png">
            </a>
        </div>

        <div class="rectangle">
            <div class="textArea">
                <p>
                    Bonjour ! Je m'appelle Charlotte et je suis étudiante en deuxième année de BUT Informatique.
                </p>
                <p>
                    J'ai découvert le monde du code et de la programmation lors de mes cours d'NSI au lycée.
                    Depuis, j'ai intégré le BUT informatique, où j'ai acquis des compétences en création de sites web,
                    et en programmation dans des langages tels que SQL, PHP, Java, et bien d'autres encore !
                </p>
                <p>
                    Dans mon temps libre, j'adore participer à des événements comme les Code Game Jam car travailler
                    en équipe sur des projets et résoudre des problèmes complexes dans des délais serrés me pousse
                    constamment à repousser mes limites en tant que développeuse. Ces types d'évènements sont aussi
                    des occasions inouïes pour découvrir de nouveaux langages de programmation !
                </p>
                <p>
                    Mais mes intérêts ne se limitent pas seulement à la programmation.
                    J'ai également une passion pour le dessin, que ce soit digital ou traditionnel,
                    et j'adore les romans de science-fiction.
                </p>

            </div>
        </div>

    </section>
</body>
</html>