<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Qui suis-je?</title>
    <link rel="stylesheet" href="../../ressources/css/root.css">
</head>
<body>

    <section id="scrollPoint2" class="appear-on-mobile">

        <div class="mobile-return-menu">
            <a href="https://c-r-lewis.github.io/">
                <img class="mobile-return" alt="Retour" src="../../ressources/images/arrow-icon.png">
            </a>
        </div>

        <div class="rectangle">
            <div class="textArea">
                <p>
                    J’ai fait mes premiers pas dans l’univers du code,
                    des ordinateurs et de la programmation lors des cours
                    d’NSI (Numérique et Sciences Informatiques) au lycée.
                    J’ai poursuivi mes études en informatique en intégrant un BUT informatique,
                    au cours duquel j’ai développé des sites web, appris à configurer des routeurs,
                    à comprendre la gestion des différents protocoles réseau, et acquis des compétences
                    dans les langages de programmation tels que SQL, PHP, Java, et bien d'autres.
                </p>
                <p>
                    J’adore participer à des événements tels que les Code Game Jam.
                    En effet, l'opportunité de mettre en pratique mes compétences en programmation,
                    de travailler en équipe avec d'autres passionnés d'informatique et de relever des défis stimulants,
                    ainsi que la montée d'adrénaline qui accompagne la résolution de problèmes complexes
                    en un temps limité, forment une expérience à la fois enrichissante et exaltante qui me
                    pousse toujours à repousser mes limites et à évoluer en tant que développeur.
                </p>
                <p>
                    Mais mes intérêts ne se limitent pas seulement à la programmation.
                    J'ai également une passion pour le dessin que ce soit digitale ou traditionnelle
                    et cette créativité trouve parfois son chemin dans mes projets informatiques,
                    où je m'efforce de créer des interfaces utilisateur attrayantes et conviviales.
                </p>
            </div>
        </div>

    </section>
</body>
</html>