<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacts</title>
    <link rel="stylesheet" href="../../ressources/css/root.css">
</head>
<body>

    <section id="scrollPoint4" class="appear-on-mobile">
        <div class="mobile-return-menu">
            <a href="https://creativecodingcouchpotato.github.io/">
                <img src="../../ressources/images/arrow-icon.png" alt="Retour" class="mobile-return"/>
            </a>
        </div>
        <div id="popup" class="popup">Email Copié!</div>
        <div class = "rectangle">
            <a href="https://github.com/c-r-lewis">
                <img class="contact-icon" src="../../ressources/images/github-icon.png" alt="Github">
            </a>
            <a href="https://www.linkedin.com/in/charlotte-lewis-425262264">
                <img src="../../ressources/images/linkedin-icon.png" alt="LinkedIn" class="contact-icon">
            </a>
            <img src="../../ressources/images/email-icon.png" alt="Email" id="emailButton" class="contact-icon">
            <a href="../../ressources/CV.pdf" download="CV-Charlotte-Lewis.pdf">
                <img src="../../ressources/images/resume-icon.png" alt="CV" id="cvButton" class="contact-icon"/>
            </a>
        </div>
    </section>

<script src="../../ressources/scripts/script.js"></script>
</body>
</html>