<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mes projets</title>
    <link rel="stylesheet" href="../../ressources/css/root.css">
</head>
<body>
<a href="https://creativecodingcouchpotato.github.io/"><img class="mobile-return" alt="Retour" src="../../ressources/images/arrow-icon.png"></a>
<section id="scrollPoint3" class="appear-on-mobile">
    <div class="rectangle">
        <div class="projects">
            <div class="folder" id="project1" data-project-url="nuitDeLinfo/index.html">
                <img src="../../ressources/images/folderAnimation/folder1.png" alt="Fichier"/>
                <img src="../../ressources/images/folderAnimation/folder2.png" alt="Fichier"/>
                <img src="../../ressources/images/folderAnimation/folder3.png" alt="Fichier"/>
                <img src="../../ressources/images/folderAnimation/folder4.png" alt="Fichier"/>
                <img src="../../ressources/images/folderAnimation/folder5.png" alt="Fichier"/>
                <img src="../../ressources/images/folderAnimation/folder6.png" alt="Fichier"/>
                <img src="../../ressources/images/folderAnimation/folder7.png" alt="Fichier"/>
                <img src="../../ressources/images/folderAnimation/folder8.png" alt="Fichier"/>
            </div>
            <div class="folder" id="project2" data-project-url="projectComing.html">
                <img src="../../ressources/images/folderAnimation/folder1.png" alt="Fichier"/>
                <img src="../../ressources/images/folderAnimation/folder2.png" alt="Fichier"/>
                <img src="../../ressources/images/folderAnimation/folder3.png" alt="Fichier"/>
                <img src="../../ressources/images/folderAnimation/folder4.png" alt="Fichier"/>
                <img src="../../ressources/images/folderAnimation/folder5.png" alt="Fichier"/>
                <img src="../../ressources/images/folderAnimation/folder6.png" alt="Fichier"/>
                <img src="../../ressources/images/folderAnimation/folder7.png" alt="Fichier"/>
                <img src="../../ressources/images/folderAnimation/folder8.png" alt="Fichier"/>
            </div>
            <div class="folder" id="project3" data-project-url="projectComing.html">
                <img src="../../ressources/images/folderAnimation/folder1.png" alt="Fichier"/>
                <img src="../../ressources/images/folderAnimation/folder2.png" alt="Fichier"/>
                <img src="../../ressources/images/folderAnimation/folder3.png" alt="Fichier"/>
                <img src="../../ressources/images/folderAnimation/folder4.png" alt="Fichier"/>
                <img src="../../ressources/images/folderAnimation/folder5.png" alt="Fichier"/>
                <img src="../../ressources/images/folderAnimation/folder6.png" alt="Fichier"/>
                <img src="../../ressources/images/folderAnimation/folder7.png" alt="Fichier"/>
                <img src="../../ressources/images/folderAnimation/folder8.png" alt="Fichier"/>
            </div>
        </div>
    </div>
</section>

<script src="../../ressources/scripts/script.js"></script>
</body>
</html>