<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Charlotte Lewis - Portefeuille de compétences</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Cardo:ital,wght@0,400;0,700;1,400&display=swap"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link
      href="../../assets/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="../../assets/bootstrap/bootstrap-icons/font/bootstrap-icons.css"
      rel="stylesheet"
    />

    <!-- Main CSS File -->
    <link href="../../assets/css/main.css" rel="stylesheet" />
    <link href="../../assets/css/portfolioApprentissage.css" rel="stylesheet" />
    <script src="../../assets/js/accordian.js" defer></script>
  </head>

  <body style="min-width: 100dvw" id="fireworks-container">
    <!-- ======= Header ======= -->
    <header class="header d-flex align-items-center fixed-top py-2">
      <div class="container-fluid align-items-center">
        <div class="container-fluid">
          <nav
            class="navbar navbar-expand-lg border-bottom"
            data-bs-theme="dark"
          >
            <div class="container-fluid p-0">
              <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="navbar-toggler-icon"></span>
              </button>
              <div
                class="collapse navbar-collapse container-fluid"
                id="navbarNav"
              >
                <ul class="navbar-nav container-fluid justify-content-between">
                  <li><a href="../../index.html">Home</a></li>
                  <li><a href="../aboutMe.html">A propos de moi</a></li>
                  <li class="dropdown">
                    <a
                      class="active"
                      role="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <span>Gallerie de projets</span>&nbsp;&nbsp;<i
                        class="bi bi-chevron-down"
                      ></i>
                    </a>
                    <ul
                      class="dropdown-menu my-lg-3 ms-3 ms-lg-2 py-0 container-fluid border-0"
                    >
                      <li><a href="../gallery.html">Projets personnels</a></li>
                      <li><a class="active" href="../SAE_info.html">SAE</a></li>
                    </ul>
                  </li>
                  <li><a href="../contact.html">Contact</a></li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </header>
    <!-- End Header -->

    <main style="margin-top: 80px; min-width: 100dvw">
      <div class="row my-2">
        <div class="col-2 d-flex justify-content-end">
          <a class="btn" href="../portfolioApprentissage.html">
            <i class="bi bi-chevron-left"></i>
          </a>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-7 col-md-9 text-center">
          <h2 class="mb-3 front">
            Maria Pizza - Implémentation d'une base de données relationnelle
          </h2>
        </div>
      </div>
      <!-- =========== Intro =========== -->
      <div class="row justify-content-center mt-3">
        <div class="col-10 text-justify">
          Ce projet a été basé sur la création d'un scénario fictif, dans lequel
          j'ai travaillé sur la digitalisation du stockage des informations pour
          un client cherchant à moderniser ses opérations. Je vous présente donc
          Maria Pizza, une chaîne de pizzerias proposant des pizzas à emporter
          ou à déguster sur place.
        </div>
      </div>
      <!-- End intro -->
      <div class="row justify-content-center mt-5">
        <h5 class="col-10">
          Relation entre les réalisations personnels et le programme du BUT Informatique
        </h5>
      </div>
      
      <!-- ===== Beginning of container ==== -->
      <div class="row justify-content-center my-2">
        <!-- ==== Start first column ==== -->
        <div class="col-md-5 col-sm-11 col-10 mx-2">
          <!-- ===== Start first row ==== -->
          <div class="row my-2">
            <!-- ====== First card ===== -->
            <div class="card p-3">
              <div
                class="row"
                id="heading1"
                onclick="toggleCollapse('collapse1')"
              >
                <div class="col-11">
                  <h6>
                    CE - 4.02 : Respecter les enjeux économiques, sociétaux et
                    écologiques de l'utilisation du stockage de données, ainsi
                    que les différentes infrastructures
                  </h6>
                </div>
                <div class="col-1">
                  <i class="bi bi-chevron-down float-end"></i>
                </div>
              </div>
              <div class="collapse" id="collapse1">
                <p class="text-justify">
                  En me penchant sur les coûts et les contraintes logistiques
                  avant d'adopter une base de données, j'ai réfléchi à comment
                  la transition vers cette dernière pourrait permettre une
                  gestion plus rapide et efficace des commandes et des clients.
                  Cette transition vise également à réduire les erreurs et les
                  coûts opérationnels. De plus, elle ouvre la voie à des
                  analyses statistiques plus approfondies, ce qui faciliterait
                  la prise de décisions stratégiques. Mon objectif global est de
                  bénéficier à l'entreprise sur le plan économique et
                  opérationnel.
                </p>
                <a
                  href="https://drive.google.com/file/d/1OynDLq0Ws5WLzC3pPJI-S_IR2jDmtr0h/view?usp=sharing"
                  >Lien vers le compte-rendu</a
                >
              </div>
            </div>
            <!-- End first card -->
          </div>
          <!-- End first row -->
        </div>
        <!-- End first column -->
        <!-- ======== Start second column ====== -->
        <div class="col-md-5 col-sm-11 col-10">
          <!-- ====== Start row ====== -->
          <div class="row my-2">
            <!-- ====== Start third card ======= -->
            <div class="card p-3">
              <div
                class="row"
                id="heading2"
                onclick="toggleCollapse('collapse2')"
              >
                <div class="col-11">
                  <h6>
                    AC - A1 4.02 : Concevoir une base de données relationnelle à
                    partir d'un cahier des charges
                  </h6>
                </div>
                <div class="col-1">
                  <i class="bi bi-chevron-down float-end"></i>
                </div>
              </div>
              <div class="collapse" id="collapse2">
                <p class="text-justify">
                  À partir d'une liste de besoins, j'ai élaboré le modèle d'une
                  base de données relationnelle, comprenant un schéma
                  relationnel et un modèle entité-association. Ensuite, j'ai
                  rédigé un script pour créer la base de données selon ce
                  modèle.
                </p>
                <a
                  href="https://drive.google.com/file/d/1Ng_5V0sEir5LUXyIeLqrm6AQ1IfZ46nw/view?usp=sharing"
                  >Lien vers le cahier des charges</a
                >
              </div>
            </div>
            <!-- End third card -->
          </div>
          <!-- End row -->
        </div>
        <!-- End second column-->
      </div>
      <!-- End of container -->
    </main>
    <!-- End main -->

    <!-- JS Files -->
    <script src="../../assets/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="../../assets/fireworks.js"></script>
  </body>
</html>
