<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Charlotte Lewis - Portefeuille de compétences</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Cardo:ital,wght@0,400;0,700;1,400&display=swap"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../../assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../assets/bootstrap/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Main CSS File -->
    <link href="../../assets/css/main.css" rel="stylesheet">
</head>

<body style="min-width: 100dvw" id="fireworks-container">

<!-- ======= Header ======= -->
<header class="header d-flex align-items-center fixed-top py-2">
    <div class="container-fluid align-items-center">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg border-bottom" data-bs-theme="dark">
                <div class="container-fluid p-0">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse container-fluid" id="navbarNav">
                        <ul class="navbar-nav container-fluid justify-content-between">
                            <li><a href="../../index.html">Home</a></li>
                            <li><a href="../aboutMe.html">A propos de moi</a></li>
                            <li class="dropdown">
                                <a class="active" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <span>Gallerie de projets</span>&nbsp;&nbsp;<i class="bi bi-chevron-down"></i>
                                </a>
                                <ul class="dropdown-menu my-lg-3 ms-3 ms-lg-2 py-0 container-fluid border-0">
                                    <li><a href="../gallery.html">Projets personnels</a></li>
                                    <li><a class="active" href="../SAE_info.html">SAE</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="../contact.html">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header><!-- End Header -->


<main style="margin-top: 70px; min-width: 100dvw">
    <div class="row">
        <!-- Fixed project-info on the left -->
        <div class="col-lg-3 ms-3 my-5 pt-1 d-none d-lg-flex position-fixed align-items-center flex-column justify-content-center">
            <div class="project-info">
                <h3 class="pb-3">Informations projet</h3>
                <ul>
                    <li class="d-flex flex-column pb-2">
                        <span class="category">Catégorie</span><span>SAE</span>
                    </li>
                    <li class="d-flex flex-column pb-2">
                        <span class="category">Date de projet</span><span>Octobre 2023 - Janvier 2023</span>
                    </li>
                    <li class="category">Contraintes de travail :</li>
                    <li class="pb-2">
                        <ul class="normal ps-3">
                            <li>
                                Méthodes agiles SCRUM
                            </li>
                            <li>
                                Equipe de 5
                            </li>
                            <li>
                                4 sprints
                            </li>
                        </ul>
                    </li>
                    <li class="d-flex flex-column pb-2"><span class="category">Langage</span><span>Java</span></li>
                    <li class="d-flex flex-column pb-2"><a class="align-self-start btn mt-2" href="../../assets/ficheDePoste.pdf" download="SAE-Encheres-fiche-de-poste.pdf">Télécharger fiche de poste</a></li>
                </ul>
            </div>
        </div>

        <!-- Scrollable content on the right -->
        <div class="col-lg-9 offset-lg-3 col-12">
            <section class="my-5 d-flex flex-column justify-content-center align-items-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-7 text-center">
                            <h2 class="mb-3 front">SAE application d'enchères de Vickrey</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-5 mt-5 pt-1 d-flex d-lg-none flex-column">
                            <div class="project-info front">
                                <h3 class="pb-3">Informations projet</h3>
                                <ul>
                                    <li class="d-flex flex-column pb-2">
                                        <span class="category">Catégorie</span><span>SAE</span>
                                    </li>
                                    <li class="d-flex flex-column pb-2">
                                        <span class="category">Date de projet</span><span>Octobre 2023 - Janvier 2023</span>
                                    </li>
                                    <li class="category">Contraintes de travail :</li>
                                    <li class="pb-2">
                                        <ul class="normal ps-3">
                                            <li>
                                                Méthodes agiles SCRUM
                                            </li>
                                            <li>
                                                Equipe de 5
                                            </li>
                                            <li>
                                                4 sprints
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="d-flex flex-column pb-2"><span class="category">Langage</span><span>Java</span></li>
                                    <li class="d-flex flex-column pb-2"><a class="align-self-start btn mt-2" href="../../assets/ficheDePoste.pdf" download="SAE-Encheres-fiche-de-poste.pdf">Télécharger fiche de poste</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row text-justify mt-md-5 gx-1">
                        <div class="px-2 front">
                            <div class="row">
                                <p class="col-12">
                                    Plongez au cœur d'une expérience novatrice avec mon projet de SAE Java dédié
                                    aux enchères de Vickrey. Les enchères de Vickrey, aussi appelées enchères
                                    au second prix, révolutionnent le monde des transactions en introduisant
                                    un modèle unique. Dans ce système, les participants soumettent des offres
                                    sans connaître les propositions concurrentes. La particularité réside dans le
                                    fait que le gagnant paie le montant de la deuxième meilleure offre,
                                    ajoutant ainsi un niveau de stratégie complexe et encourageant une
                                    évaluation précise de la valeur de l'objet aux enchères.
                                </p>
                            </div>
                            <div class="row">
                                <div class="col-lg-1 d-none d-lg-flex align-items-center justify-content-center">
                                    <i class="bi-clock"></i>
                                </div>
                                <p class="col-lg-11 col-md-12">
                                    Dans le cadre de ce projet, lors des deux premiers
                                    sprints, j'ai assumé le rôle de Scrum Master, me
                                    permettant ainsi de mettre en pratique la compétence
                                    6 (<strong>collaborer au sein d'une équipe informatique</strong>) du
                                    Brevet Universitaire de Technologie (BUT). Mon rôle
                                    consistait à coordonner les membres de l'équipe,
                                    assurant une communication et une collaboration
                                    efficaces. J'étais responsable de maintenir une
                                    communication régulière avec chaque membre pour
                                    évaluer leur progression et attribuer les tâches en
                                    tenant compte de leurs forces et faiblesses.
                                </p>
                            </div>
                            <div class="row">
                                <p class="col-lg-11 col-12">
                                    Au cours des deux derniers sprints, j'ai occupé
                                    le poste de Product Owner, me permettant d'exercer la compétence 5
                                    (<strong>conduire un projet</strong>) du BUT. Mon objectif en acceptant
                                    ce rôle était de garantir que le projet soit conçu en gardant constamment
                                    le client à l'esprit. Nous devions également nous assurer de respecter les
                                    normes juridiques en élaborant nos propres Conditions Générales d'Utilisation
                                    (CGU) et en veillant à la conformité de l'application aux normes en vigueur.
                                </p>
                                <div class="col-lg-1 d-lg-flex d-none align-items-center justify-content-center">
                                    <i class="bi bi-tags"></i>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-1 d-none d-lg-flex align-items-center justify-content-center">
                                    <i class="bi bi-code-slash"></i>
                                </div>
                                <p class="col-lg-11 col-12">
                                    Par ailleurs, j'ai également contribué significativement au développement de
                                    l'application en tant que développeuse (compétence 1 : <strong>réaliser un développement
                                    d'application</strong>). Il était crucial pour nous d'appliquer les règles, stratégies
                                    et patterns appris en cours afin de créer une application extensible pour une
                                    éventuelle continuation du projet ultérieurement. J'ai ainsi travaillé sur la
                                    création d'une interface utilisateur avec JavaFX en plus de contribuer au code
                                    du back-end.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <div class="row">
                <!-- ======= Footer ======= -->
                <footer class="p-3">
                    <div class="container d-flex justify-content-center">
                        <!-- Go to Top arrow button -->
                        <a href="#">
                            <i class="bi bi-arrow-up"></i>
                        </a>
                    </div>
                </footer>
            </div>
        </div>

    </div>

</main>
<!-- End main -->

<!-- JS Files -->
<script src="../../assets/bootstrap/js/bootstrap.bundle.js"></script>
<script src="../../assets/fireworks.js"></script>


</body>

</html>