
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>Charlotte Lewis - Portefeuille de compétences</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Cardo:ital,wght@0,400;0,700;1,400&display=swap"
        rel="stylesheet" />

    <!-- Vendor CSS Files -->
    <link href="../../assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../../assets/bootstrap/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />

    <!-- Main CSS File -->
    <link href="../../assets/css/main.css" rel="stylesheet" />
    <link href="../../assets/css/portfolioApprentissage.css" rel="stylesheet" />
    <script src="../../assets/js/accordian.js" defer></script>
</head>

<body>
    <!-- ======= Header ======= -->
    <header class="header d-flex align-items-center fixed-top py-2">
        <div class="container-fluid align-items-center">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-lg border-bottom" data-bs-theme="dark">
                    <div class="container-fluid p-0">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                            aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse container-fluid" id="navbarNav">
                            <ul class="navbar-nav container-fluid justify-content-between">
                                <li class="nav-item"><a class="nav-link" href="../../index.html">Home</a></li>
                                <li class="nav-item"><a class="nav-link" href="../aboutMe.html">À propos de moi</a></li>
                                <li class="nav-item"><a class="nav-link" href="../proExperiences.html">Expériences professionnelles</a></li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" role="button"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                        Galerie de projets
                                    </a>
                                    <ul class="dropdown-menu" style="max-width: fit-content;">
                                        <li><a class="dropdown-item" href="../gallery.html">Projets personnels</a></li>
                                        <li><a class="dropdown-item" href="../SAE_info.html">SAE et TP</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item"><a class="nav-link" href="../contact.html">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <!-- End Header -->

    <main style="margin-top: 80px;">
        <div class="container my-4">
            <div class="row mb-4">
                <div class="col-12 text-end">
                    <a class="btn btn-primary" href="../portfolioApprentissage.html">
                        <i class="bi bi-chevron-left"></i> Retour
                    </a>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="mb-3">Gestion d'un projet fictif - Bar gaming Player One</h2>
                </div>
            </div>
            
            <!-- =========== Intro =========== -->
            <div class="row justify-content-center mt-3">
                <div class="col-lg-8 text-justify">
                    <ul>
                        <li><strong>Dates du projet</strong> : Mai 2023</li>
                        <li><strong>Durée du projet</strong> : 1 semaine</li>
                        <li><strong>Contraintes de travail</strong> : Équipe de 5 personnes</li>
                    </ul>
                </div>
            </div>
            
            <div class="row justify-content-center mt-3">
                <div class="col-lg-8 text-justify">
                    Le but principal du projet était de développer une expérience concrète dans la 
                    gestion de projets. En me focalisant sur la conception et la réalisation d'un projet, 
                    mon objectif était de renforcer mes compétences en planification, en collaboration 
                    et en résolution de problèmes. De plus, je cherchais à explorer les diverses 
                    phases du cycle de développement d'un projet, de la conceptualisation à la 
                    mise en œuvre. Pour ce faire, j'ai élaboré un projet fictif nommé "Player One", 
                    un bar gaming offrant aux clients la possibilité de jouer tout en se désaltérant. 
                    À partir de ce concept, j'ai envisagé toutes les étapes nécessaires à sa concrétisation.
                </div>
            </div>
            <!-- End intro -->

            
            <div class="row justify-content-center mt-5">
                <h5 class="col-lg-8 text-center">Relation entre les réalisations personnelles et le programme du BUT Informatique</h5>
            </div>

            <!-- ===== Beginning of container ==== -->
            <div class="row justify-content-center my-4">
                <!-- ==== Start first column ==== -->
                <div class="col-md-6">
                    <!-- ===== Start first card ==== -->
                    <div class="card mb-3">
                        <div class="card-header" id="heading1" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                            <div class="d-flex justify-content-between">
                                <h6 class="mb-0">CE 5.03 : Identifier les acteurs et les différentes phases 
                                    d’un cycle de développement</h6>
                                <i class="bi bi-chevron-down"></i>
                            </div>
                        </div>
                        <div class="collapse show" id="collapse1">
                            <div class="card-body">
                                
                                <p class="text-justify">Niveau de maîtrise : acquis</p>
                                
                                <p class="text-justify">
                                    J'ai identifié les acteurs impliqués dans le projet, y compris les parties 
                                    prenantes internes et externes telles que les membres de l'équipe de projet, 
                                    les clients, les utilisateurs finaux, et d'autres intervenants pertinents. 
                                    En comprenant le rôle de chaque acteur, j'ai pu déterminer leurs besoins, 
                                    attentes et responsabilités tout au long du cycle de développement.
                                </p>
                                
                                <p class="text-justify">
                                    Ensuite, j'ai identifié les différentes phases 
                                    du cycle de développement du projet. Cela comprenait 
                                    généralement des étapes telles que l'analyse des besoins, 
                                    la conception, le développement, les tests, le déploiement 
                                    et la maintenance. Pour chaque phase, j'ai défini des 
                                    objectifs clairs et des livrables attendus, ce qui m'a permis 
                                    de planifier et d'organiser efficacement le travail.
                                </p>
                                
                            </div>
                        </div>
                    </div>
                    <!-- End first card -->
                    <!-- ===== Start second card ====== -->
                    <div class="card mb-3">
                        <div class="card-header" id="heading3" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                            <div class="d-flex justify-content-between">
                                <h6 class="mb-0">AC - A1 5.02 : Mettre en place les outils de gestion de projet</h6>
                                <i class="bi bi-chevron-down"></i>
                            </div>
                        </div>
                        <div class="collapse" id="collapse3">
                            <div class="card-body">
                                
                                <p class="text-justify">Niveau de maîtrise : acquis</p>
                                
                                <p class="text-justify">
                                    J'ai utilisé et mis en pratique des outils étudiés en cours 
                                    tels que le SWOT, le diagramme de Gantt et le diagramme de 
                                    Pert pour garantir le succès du projet.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- End second card -->
                </div>
                <!-- End first column -->
                <!-- ======== Start second column ====== -->
                <div class="col-md-6">
                    <!-- ===== Start third card ====== -->
                    <div class="card mb-3">
                        <div class="card-header" id="heading2" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                            <div class="d-flex justify-content-between">
                                <h6 class="mb-0">AC - A1 5.01 : Appréhender les besoins du client et de l’utilisateur</h6>
                                <i class="bi bi-chevron-down"></i>
                            </div>
                        </div>
                        <div class="collapse" id="collapse2">
                            <div class="card-body">
                                
                                <p class="text-justify">Niveau de maîtrise : acquis</p>
                                
                                <p class="text-justify">
                                    J'ai analysé l'état actuel, les ressources disponibles, ainsi que 
                                    les spécifications fonctionnelles et non fonctionnelles avant le 
                                    début du projet afin de mieux comprendre les besoins du client et des utilisateurs.
                                </p>
                                
                                <a href="https://docs.google.com/document/d/1Zaj9_IWRzasPFmYj7_bKQB7Anz2JG-V2TtVaV3NYVUw/edit?usp=sharing" target="_blank">
                                    Lien vers le cahier des charges
                                </a><sup>1</sup>
                            </div>
                        </div>
                    </div>
                    <!-- End third card -->
                    <!-- ===== Start fourth card ====== -->
                    <div class="card mb-3">
                        <div class="card-header" id="heading4" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                            
                            <div class="d-flex justify-content-between">
                                <h6 class="mb-0">CE 5.04 : En adoptant une démarche proactive, créative et critique</h6>
                                <i class="bi bi-chevron-down"></i>
                            </div>
                        </div>
                        <div class="collapse" id="collapse4">
                            <div class="card-body">
                                <p class="text-justify">Niveau de maîtrise : acquis</p>
                                
                                <p class="text-justify">
                                    J'ai réfléchi à des idées novatrices et attractives tout 
                                    en veillant à ce que les fonctionnalités implémentées soient 
                                    actuelles. De plus, j'ai effectué une analyse critique de l'existant 
                                    afin de mieux faire face à la concurrence.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- End fourth card -->
                </div>
                <!-- End second column-->
            </div>
            <!-- End of container -->

            <!-- Début sommaire des traces -->
            <div class="row justify-content-center mt-4">
                <div class="col-lg-8">
                    <p class="underline">Traces</p>
                    <ol>
                        <li>
                            <a href="https://docs.google.com/document/d/1Zaj9_IWRzasPFmYj7_bKQB7Anz2JG-V2TtVaV3NYVUw/edit?usp=sharing" target="_blank">
                                Lien vers le cahier des charges
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
            <!-- Fin sommaire des traces -->
        </div>
    </main>
    <!-- End main -->

    <!-- ======= Footer ======= -->
    <footer class="p-3">
        <div class="container d-flex justify-content-center">
            <!-- Go to Top arrow button -->
            <a href="#">
                <i class="bi bi-arrow-up"></i>
            </a>
        </div>
    </footer>

    <!-- JS Files -->
    <script src="../../assets/bootstrap/js/bootstrap.bundle.js"></script>

</body>

</html>

