<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Charlotte Lewis - Portefeuille de compétences</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Cardo:ital,wght@0,400;0,700;1,400&display=swap"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link
      href="../../assets/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="../../assets/bootstrap/bootstrap-icons/font/bootstrap-icons.css"
      rel="stylesheet"
    />

    <!-- Main CSS File -->
    <link href="../../assets/css/main.css" rel="stylesheet" />
    <link href="../../assets/css/portfolioApprentissage.css" rel="stylesheet" />
    <script src="../../assets/js/accordian.js" defer></script>
  </head>

  <body style="min-width: 100dvw" id="fireworks-container">
    <!-- ======= Header ======= -->
    <header class="header d-flex align-items-center fixed-top py-2">
      <div class="container-fluid align-items-center">
        <div class="container-fluid">
          <nav
            class="navbar navbar-expand-lg border-bottom"
            data-bs-theme="dark"
          >
            <div class="container-fluid p-0">
              <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="navbar-toggler-icon"></span>
              </button>
              <div
                class="collapse navbar-collapse container-fluid"
                id="navbarNav"
              >
                <ul class="navbar-nav container-fluid justify-content-between">
                  <li><a href="../../index.html">Home</a></li>
                  <li><a href="../aboutMe.html">A propos de moi</a></li>
                  <li class="dropdown">
                    <a
                      class="active"
                      role="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <span>Gallerie de projets</span>&nbsp;&nbsp;<i
                        class="bi bi-chevron-down"
                      ></i>
                    </a>
                    <ul
                      class="dropdown-menu my-lg-3 ms-3 ms-lg-2 py-0 container-fluid border-0"
                    >
                      <li><a href="../gallery.html">Projets personnels</a></li>
                      <li><a class="active" href="../SAE_info.html">SAE et TP</a></li>
                    </ul>
                  </li>
                  <li><a href="../contact.html">Contact</a></li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </header>
    <!-- End Header -->

    <main style="margin-top: 80px; min-width: 100dvw">
      <div class="row my-2">
        <div class="col-2 d-flex justify-content-end">
          <a class="btn" href="../portfolioApprentissage.html">
            <i class="bi bi-chevron-left"></i>
          </a>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-7 col-md-9 text-center">
          <h2 class="mb-3 front">
            Etude de statistiques - De fichiers excel vers une base de données
          </h2>
        </div>
      </div>
      <!-- =========== Intro =========== -->
      <div class="row justify-content-center mt-3">
        <div class="col-10 text-justify"></div>
      </div>
      <!-- End intro -->
      <div class="row justify-content-center mt-5">
        <h5 class="col-10">
          Relation entre les réalisations personnels et le programme du BUT
          Informatique
        </h5>
      </div>

      <!-- ===== Beginning of container ==== -->
      <div class="row justify-content-center my-2">
        <!-- ==== Start first column ==== -->
        <div class="col-md-5 col-sm-11 col-10 mx-2">
          <!-- ===== Start first row ==== -->
          <div class="row my-2">
            <!-- ====== First card ===== -->
            <div class="card p-3">
              <div
                class="row"
                id="heading1"
                onclick="toggleCollapse('collapse1')"
              >
                <div class="col-11">
                  <h6>
                    CE 2.01 : Formaliser et modéliser des situations complexes
                  </h6>
                </div>
                <div class="col-1">
                  <i class="bi bi-chevron-down float-end"></i>
                </div>
              </div>
              <div class="collapse" id="collapse1">
                <p class="text-justify">
                  J'ai fait une étude sur le fonctionnement algorithmique des
                  graphes à partir du jeu "Les Aventuriers du Rail". J'ai décidé
                  de formaliser et de modéliser la carte du jeu sous forme d'un
                  graphe, où chaque ville correspondait à un nœud et les chemins
                  entre les villes étaient représentés par des arêtes. Cette
                  modélisation m'a permis de simplifier la complexité du jeu en
                  une structure mathématique claire, facilitant ainsi
                  l'application d'algorithmes et de techniques de recherche sur
                  les graphes.
                </p>
              </div>
            </div>
            <!-- End first card -->
          </div>
          <!-- End first row -->
          <!-- ===== Start second row ====== -->
          <div class="row my-2">
            <!-- ====== Second card ===== -->
            <div class="card p-3">
              <div
                class="row"
                id="heading3"
                onclick="toggleCollapse('collapse3')"
              >
                <div class="col-11">
                  <h6>
                    CE - 2.02 : Recenser les algorithmes et les structures de
                    données usuels
                  </h6>
                </div>
                <div class="col-1">
                  <i class="bi bi-chevron-down float-end"></i>
                </div>
              </div>
              <div class="collapse" id="collapse3">
                <p class="text-justify">
                  En m'appuyant sur ma modélisation des graphes dans le jeu "Les
                  Aventuriers du Rail", j'ai recensé et exploré divers
                  algorithmes et structures de données usuels utilisés dans le
                  domaine des graphes. J'ai étudié des algorithmes classiques
                  tels que l'algorithme de Dijkstra pour trouver le chemin le
                  plus court entre deux sommets, ainsi que des structures de
                  données telles que les arbres, les chaînes et les cycles.
                  Cette démarche m'a permis de comprendre les caractéristiques
                  et les avantages de chaque algorithme et structure de données,
                  et de choisir les plus adaptés pour résoudre les problèmes
                  spécifiques du jeu.
                </p>
              </div>
            </div>
            <!-- End Second card -->
          </div>
          <!-- End second row -->
        </div>
        <!-- End first column -->
        <!-- ======== Start second column ====== -->
        <div class="col-md-5 col-sm-11 col-10">
          <!-- ====== Start first row ====== -->
          <div class="row my-2">
            <!-- ====== Start third card ======= -->
            <div class="card p-3">
              <div
                class="row"
                id="heading2"
                onclick="toggleCollapse('collapse2')"
              >
                <div class="col-11">
                  <h6>CE 2.03 : S'appuyer sur des schémas de raisonnement</h6>
                </div>
                <div class="col-1">
                  <i class="bi bi-chevron-down float-end"></i>
                </div>
              </div>
              <div class="collapse" id="collapse2">
                <p class="text-justify">
                  L'étude du fonctionnement algorithmique des graphes à partir
                  du jeu "Les Aventuriers du Rail" m'a également permis de
                  m'appuyer sur des schémas de raisonnement pour résoudre des
                  problèmes complexes. En utilisant des techniques de
                  modélisation, d'analyse et de résolution de problèmes, j'ai pu
                  élaborer des stratégies efficaces pour implémenter des
                  fonctionnalités supplémentaires dans ma version numérique du
                  jeu. Par exemple, en utilisant des algorithmes de parcours de
                  graphe, j'ai pu développer des fonctionnalités permettant de
                  trouver le chemin le plus court entre deux villes, ce qui a
                  enrichi l'expérience de jeu et démontré ma capacité à
                  raisonner de manière structurée et méthodique.
                </p>
              </div>
            </div>
            <!-- End third card -->
          </div>
          <!-- End first row -->
        </div>
        <!-- End second column-->
      </div>
      <!-- End of container -->
    </main>
    <!-- End main -->

    <!-- JS Files -->
    <script src="../../assets/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="../../assets/fireworks.js"></script>
  </body>
</html>
