

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <title>Charlotte Lewis - Portefeuille de compétences</title>
  <meta content="" name="description" />
  <meta content="" name="keywords" />

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Cardo:ital,wght@0,400;0,700;1,400&display=swap"
    rel="stylesheet" />

  <!-- Vendor CSS Files -->
  <link href="../../assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
  <link href="../../assets/bootstrap/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />

  <!-- Main CSS File -->
  <link href="../../assets/css/main.css" rel="stylesheet" />
  <link href="../../assets/css/portfolioApprentissage.css" rel="stylesheet" />
  <script src="../../assets/js/accordian.js" defer></script>
</head>

<body>
  <!-- ======= Header ======= -->
  <header class="header d-flex align-items-center fixed-top py-2">
    <div class="container-fluid align-items-center">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg border-bottom" data-bs-theme="dark">
          <div class="container-fluid p-0">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse container-fluid" id="navbarNav">
              <ul class="navbar-nav container-fluid justify-content-between">
                <li class="nav-item"><a class="nav-link" href="../../index.html">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="../aboutMe.html">À propos de moi</a></li>
                <li class="nav-item"><a class="nav-link" href="../proExperiences.html">Expériences professionnelles</a></li>

                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Galerie de projets
                  </a>
                  <ul class="dropdown-menu" style="max-width: fit-content;">
                    <li><a class="dropdown-item" href="../gallery.html">Projets personnels</a></li>
                    <li><a class="dropdown-item" href="../SAE_info.html">SAE et TP</a></li>
                  </ul>
                </li>
                <li class="nav-item"><a class="nav-link" href="../contact.html">Contact</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </header>
  <!-- End Header -->

  <main style="margin-top: 80px;">
    <div class="container my-4">
      <div class="row mb-4">
        <div class="col-12 text-end">
          <a class="btn btn-primary" href="../portfolioApprentissage.html">
            <i class="bi bi-chevron-left"></i> Retour
          </a>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
          <h2 class="mb-3">Application de gestion d'enchères</h2>
        </div>
      </div>

      <!-- =========== Intro =========== -->
      <div class="row justify-content-center mt-3">
        <div class="col-lg-8 text-justify">
          <ul>
            <li><strong>Dates du projet</strong> : Octobre 2023 - Avril 2024</li>

            <li><strong>Durée du projet</strong> : 1 semaine</li>
            <li><strong>Contraintes de travail</strong> : 4 membres</li>
          </ul>
        </div>
      </div>

      <div class="row justify-content-center mt-3">

        <div class="col-lg-8 text-justify">
          Ce projet consistait à créer et déployer une application de gestion d'enchères sécurisée en utilisant des
          méthodologies Agile et le cadre SCRUM. L'objectif était de répondre aux besoins spécifiques d'un client tout
          en garantissant la sécurité, la confidentialité et l'intégrité du processus d'enchères. L'application inclut
          la mise en œuvre du principe des enchères de Vickrey, des mesures de sécurité robustes, une authentification
          utilisateur et un chiffrement des données sensibles. J'ai également développé une interface utilisateur
          conviviale.
        </div>
      </div>
      <!-- End intro -->


      <div class="row justify-content-center mt-5">
        <h5 class="col-lg-8 text-center">Relation entre les réalisations personnelles et le programme du BUT
          Informatique</h5>
      </div>

      <!-- ===== Beginning of container ==== -->
      <div class="row justify-content-center my-4">
        <!-- ==== Start first column ==== -->
        <div class="col-md-6">

          <!-- ===== Start first card ==== -->
          <div class="card mb-3">
            <div class="card-header" id="heading1" data-bs-toggle="collapse" data-bs-target="#collapse1"
              aria-expanded="true" aria-controls="collapse1">
              <div class="d-flex justify-content-between">
                <h6 class="mb-0">AC - A2 2.03 : Comprendre les enjeux et moyens de sécurisation des données et du code
                </h6>
                <i class="bi bi-chevron-down"></i>
              </div>
            </div>
            <div class="collapse show" id="collapse1">
              <div class="card-body">

                <p class="text-justify">Niveau de maîtrise : acquis</p>

                <p class="text-justify">
                  J'ai examiné les différentes approches qu'une personne pourrait utiliser pour compromettre la sécurité
                  de l'application, telles que le déni de service, l'écoute du réseau et les attaques de type homme du
                  milieu. En réponse à ces menaces, j'ai intégré des techniques de sécurité telles que le chiffrement et
                  l'utilisation de certificats d'authentification pour renforcer la sécurité de mon code. J'ai également
                  développé une bibliothèque personnalisée pour le chiffrement des données, ajoutant ainsi une couche
                  supplémentaire de protection.
                </p>


              </div>
            </div>
          </div>
          <!-- End first card -->
          <!-- ===== Start second card ====== -->
          <div class="card mb-3">
            <div class="card-header" id="heading2" data-bs-toggle="collapse" data-bs-target="#collapse2"
              aria-expanded="false" aria-controls="collapse2">
              <div class="d-flex justify-content-between">
                <h6 class="mb-0">CE 4.01 : Respecter les réglementations sur le respect de la vie privée et la
                  protection des données
                  personnelles</h6>
                <i class="bi bi-chevron-down"></i>
              </div>
            </div>
            <div class="collapse" id="collapse2">
              <div class="card-body">

                <p class="text-justify">Niveau de maîtrise : acquis</p>

                <p class="text-justify">
                  J'ai intégré le respect du RGPD dans la conception de mon application en offrant aux utilisateurs un
                  accès facile aux conditions générales d'utilisation, ce qui leur permet de comprendre leurs droits
                  concernant leurs données et leur utilisation. J'ai également étudié les mesures nécessaires pour
                  faciliter la résolution des litiges éventuels des utilisateurs.
                </p>
              </div>
            </div>
          </div>
          <!-- End second card -->

          <!-- ===== Start third card ====== -->
          <div class="card mb-3">
            <div class="card-header" id="heading3" data-bs-toggle="collapse" data-bs-target="#collapse3"
              aria-expanded="false" aria-controls="collapse3">
              <div class="d-flex justify-content-between">
                <h6 class="mb-0">AC - A2 5.02 : Formaliser les besoins du client et de l’utilisateur</h6>
                <i class="bi bi-chevron-down"></i>
              </div>
            </div>
            <div class="collapse" id="collapse3">
              <div class="card-body">

                <p class="text-justify">Niveau de maîtrise : acquis</p>

                <p class="text-justify">
                  J'ai entrepris une démarche méthodique visant à identifier, clarifier et documenter les exigences
                  fonctionnelles et non fonctionnelles du système. Cela impliquait d'interagir directement avec les
                  parties prenantes, notamment le client et les utilisateurs finaux, afin de recueillir des informations
                  précieuses sur leurs besoins, leurs attentes et leurs contraintes.
                </p>

                <p class="text-justify">
                  J'ai utilisé différentes techniques pour formaliser ces besoins, telles que les entretiens, les
                  questionnaires, les ateliers de travail et l'analyse de la documentation existante. Ces échanges m'ont
                  permis de comprendre en profondeur les objectifs du projet, les fonctionnalités attendues et les
                  contraintes à prendre en compte. Une fois les besoins identifiés, j'ai veillé à les structurer de
                  manière claire et cohérente, en les traduisant sous forme de spécifications fonctionnelles et de cas
                  d'utilisation.
                </p>

                <p class="text-justify">
                  Cette formalisation précise des besoins a servi de référence tout au long du cycle de développement,
                  permettant à l'équipe de rester alignée sur les objectifs du projet et de prendre des décisions
                  éclairées.
                </p>
              </div>
            </div>
          </div>
          <!-- End third card -->

          <!-- ===== Start fourth card ====== -->
          <div class="card mb-3">
            <div class="card-header" id="heading4" data-bs-toggle="collapse" data-bs-target="#collapse4"
              aria-expanded="false" aria-controls="collapse4">
              <div class="d-flex justify-content-between">
                <h6 class="mb-0">CE - 2.04 : Justifier les choix et valider les résultats</h6>
                <i class="bi bi-chevron-down"></i>
              </div>
            </div>
            <div class="collapse" id="collapse4">
              <div class="card-body">

                <p class="text-justify">Niveau de maîtrise : acquis</p>


                <p class="text-justify">
                  Afin de garantir une validation rigoureuse du projet, j'ai mis en place une suite complète de tests
                  unitaires à grande échelle. Pour ce faire, j'ai opté pour les frameworks JUnit 5 et Mockito. Cette
                  approche m'a permis d'assurer la fiabilité et la robustesse de chaque composant de l'application. En
                  utilisant JUnit 5, j'ai pu structurer et exécuter des tests unitaires sur différentes parties du code,
                  tandis que Mockito m'a offert la possibilité de simuler efficacement le comportement des dépendances
                  et d'isoler les modules à tester. Grâce à ces outils, j'ai pu identifier et résoudre rapidement les
                  éventuels problèmes, garantissant ainsi la qualité et la performance du projet.
                </p>

              </div>
            </div>
          </div>
          <!-- End fourth card -->

          <!-- ===== Start fifth card ====== -->
          <div class="card mb-3">
            <div class="card-header" id="heading3" data-bs-toggle="collapse" data-bs-target="#collapse5"
              aria-expanded="false" aria-controls="collapse5">
              <div class="d-flex justify-content-between">
                <h6 class="mb-0">AC - A2 2.02 : Utiliser des techniques algorithmiques adaptées pour des problèmes
                  complexes</h6>
                <i class="bi bi-chevron-down"></i>
              </div>
            </div>
            <div class="collapse" id="collapse5">
              <div class="card-body">

                <p class="text-justify">Niveau de maîtrise : acquis</p>

                <p class="text-justify">
                  J'ai choisi et mis en œuvre des techniques algorithmiques appropriées pour assurer la sécurité des
                  données. Initialement, j'ai opté pour l'algorithme de chiffrement RSA, qui repose sur des principes
                  mathématiques bien établis, notamment la difficulté de factoriser de grands nombres premiers. Ce choix
                  était basé sur la robustesse de l'algorithme et sa large utilisation dans le domaine de la
                  cryptographie. J'ai utilisé une bibliothèque pour chiffrer et déchiffrer les données de manière
                  sécurisée.
                </p>

                <p class="text-justify">
                  Cependant, au fur et à mesure que j'ai approfondi mes recherches et ma compréhension des protocoles de
                  chiffrement, j'ai découvert le protocole de Damgård-Jurik. Ce protocole présente des caractéristiques
                  uniques, notamment en ce qui concerne l'additivité homomorphique et la confidentialité multipartite.
                  J'ai pris la décision de basculer vers le protocole Damgård-Jurik en raison de sa pertinence pour les
                  cas d'utilisation spécifiques auxquels je faisais face, notamment la nécessité de permettre à
                  plusieurs parties de collaborer pour chiffrer et déchiffrer des données sans révéler leurs entrées
                  respectives.
                </p>

                <p class="text-justify">
                  Cette transition a nécessité une compréhension approfondie des concepts sous-jacents au protocole de
                  Damgård-Jurik ainsi que des compétences techniques pour implémenter correctement cet algorithme. J'ai
                  dû étudier la documentation disponible, comprendre les principes de fonctionnement du protocole et
                  adapter mon code en conséquence. Cette expérience m'a permis de mettre en pratique mes connaissances
                  en algorithmique et de développer ma capacité à choisir et à utiliser des techniques algorithmiques
                  adaptées à des problèmes complexes dans le domaine de la cryptographie.
                </p>

              </div>
            </div>
          </div>
          <!-- End fifth card -->
        </div>
        <!-- End first column -->

        <!-- ======== Start second column ====== -->
        <div class="col-md-6">
          <!-- ===== Start sixth card ====== -->
          <div class="card mb-3">
            <div class="card-header" id="heading6" data-bs-toggle="collapse" data-bs-target="#collapse6"
              aria-expanded="false" aria-controls="collapse6">
              <div class="d-flex justify-content-between">
                <h6 class="mb-0">AC - A2 5.04 : Définir et mettre en œuvre une démarche de suivi de projet</h6>
                <i class="bi bi-chevron-down"></i>
              </div>
            </div>
            <div class="collapse" id="collapse6">
              <div class="card-body">

                <p class="text-justify">Niveau de maîtrise : acquis</p>

                <p class="text-justify">
                  Le projet a été mené selon les principes de la méthodologie agile, en mettant en œuvre la méthode
                  SCRUM. Ainsi, la gestion de projet s'est déroulée par le biais de sprints successifs. En tant que
                  SCRUM Master, j'ai activement participé à la planification et à l'exécution de ces sprints, tout en
                  contribuant à l'orientation générale du projet. Mes responsabilités comprenaient la rédaction des
                  comptes rendus des réunions quotidiennes et la création des graphiques de suivi de projet à la fin de
                  chaque sprint. Mon rôle principal consistait à garantir le respect des principes agiles tout au long
                  du projet. J'ai également contribué à la rédaction d'un rapport technique à la fin du projet.
                </p>

                <a href="https://docs.google.com/document/d/1OERLMSgOqABgMUejeQkBUF45mbcO_vr_ewWa-EAHvRI/edit?usp=sharing"
                  target="_blank">
                  Rapport technique
                </a><sup>1</sup>
              </div>
            </div>
          </div>
          <!-- End sixth card -->

          <!-- ===== Start seventh card ====== -->
          <div class="card mb-3">
            <div class="card-header" id="heading7" data-bs-toggle="collapse" data-bs-target="#collapse7"
              aria-expanded="false" aria-controls="collapse7">

              <div class="d-flex justify-content-between">
                <h6 class="mb-0">AC - A2 5.03 : Identifier les critères de faisabilité d’un projet informatique</h6>
                <i class="bi bi-chevron-down"></i>
              </div>
            </div>
            <div class="collapse" id="collapse7">
              <div class="card-body">
                <p class="text-justify">Niveau de maîtrise : acquis</p>

                <p class="text-justify">
                  Au début de chaque sprint, j'ai organisé des sessions de poker planning avec les membres de l'équipe
                  pour évaluer la faisabilité des fonctionnalités demandées par le client. Cette méthode nous a permis
                  d'attribuer des priorités d'implémentation à chaque fonctionnalité parmi celles à intégrer. Grâce à
                  cette approche, j'ai pu identifier clairement les fonctionnalités qui ne pourraient pas être mises en
                  œuvre en raison de contraintes techniques ou temporelles.
                </p>
              </div>
            </div>
          </div>
          <!-- End seventh card -->

          <!-- ===== Start eighth card ====== -->
          <div class="card mb-3">
            <div class="card-header" id="heading8" data-bs-toggle="collapse" data-bs-target="#collapse8"
              aria-expanded="false" aria-controls="collapse8">

              <div class="d-flex justify-content-between">
                <h6 class="mb-0">AC - A2 2.01 : Choisir des structures de données complexes adaptées au problème</h6>
                <i class="bi bi-chevron-down"></i>
              </div>
            </div>
            <div class="collapse" id="collapse8">
              <div class="card-body">
                <p class="text-justify">Niveau de maîtrise : acquis</p>

                <p class="text-justify">
                  L'attention portée à la qualité du code a été un pilier essentiel tout au long du processus de
                  création de cette application. Pour garantir sa robustesse et sa facilité d'extension, j'ai opté pour
                  l'utilisation de designs patterns. Ces modèles de conception ont permis de résoudre efficacement les
                  problèmes en tirant parti de structures préétablies. Cette approche a non seulement contribué à
                  maintenir le projet dans un état facilement compréhensible, mais elle a également facilité sa
                  maintenance et son évolution future. En intégrant ces patterns, j'ai pu assurer que le code était bien
                  structuré, modulaire et prêt à accueillir de nouvelles fonctionnalités sans compromettre sa stabilité.
                </p>
                <a href="https://gitlabinfo.iutmontp.univ-montp2.fr/app/s2" target="_blank">Lien vers le code
                  hébergé</a><sup>2</sup>

              </div>
            </div>
          </div>
          <!-- End eighth card -->
          
          <!-- ===== Start nineth card ====== -->
          <div class="card mb-3">
            <div class="card-header" id="heading9" data-bs-toggle="collapse" data-bs-target="#collapse9"
              aria-expanded="false" aria-controls="collapse8">

              <div class="d-flex justify-content-between">
                <h6 class="mb-0">CE - 5.02 : Communiquer efficacement avec les différents acteurs d'un projet</h6>
                <i class="bi bi-chevron-down"></i>
              </div>
            </div>
            <div class="collapse" id="collapse9">
              <div class="card-body">
                <p class="text-justify">Niveau de maîtrise : acquis</p>

                <p class="text-justify">
                  En tant que Product Owner, l'une de mes responsabilités principales était de faciliter la
                  communication entre les différents acteurs du projet. Pour ce faire, j'ai adopté une approche
                  proactive et collaborative, favorisant l'échange d'informations et la collaboration au sein de
                  l'équipe.
                </p>
               
                <p class="text-justify">
                  J'ai maintenu une communication régulière avec le commanditaire du projet, en organisant des réunions
                  périodiques et en échangeant des e-mails pour discuter des exigences, des priorités et des évolutions
                  du projet. J'ai veillé à poser les bonnes questions pour obtenir une compréhension approfondie de ses
                  besoins et à fournir des réponses claires et précises à ses interrogations.
                </p>
              
                <p class="text-justify">
                  Parallèlement, j'ai joué un rôle de liaison entre le client et le reste de l'équipe, en transmettant
                  efficacement les informations recueillies lors des échanges avec le commanditaire. J'ai veillé à ce
                  que les membres de l'équipe comprennent clairement les besoins du client et les objectifs du projet,
                  facilitant ainsi la prise de décision et l'élaboration de solutions adaptées.
                </p>
                
                <p class="text-justify">
                  En favorisant une communication ouverte, transparente et proactive, j'ai contribué à maintenir un haut
                  niveau d'engagement et de collaboration au sein de l'équipe, ce qui a été essentiel pour le succès du
                  projet.
                </p>
              </div>
            </div>
          </div>
          <!-- End eighth card -->
        </div>
        <!-- End second column-->
      </div>
      <!-- End of container -->

      <!-- Début sommaire des traces -->
      <div class="row justify-content-center mt-4">
        <div class="col-lg-8">
          <p class="underline">Traces</p>
          <ol>
            <li>
              <a
                href="https://docs.google.com/document/d/1OERLMSgOqABgMUejeQkBUF45mbcO_vr_ewWa-EAHvRI/edit?usp=sharing"
                target="_blank">
                Rapport technique</a>
            </li>
            <li>
              <a href="https://gitlabinfo.iutmontp.univ-montp2.fr/app/s2"
              target="_blank">Lien vers le code hébergé</a>
            </li>
          </ol>
        </div>
      </div>
      <!-- Fin sommaire des traces -->
    </div>
  </main>
  <!-- End main -->

  <!-- ======= Footer ======= -->
  <footer class="p-3">
    <div class="container d-flex justify-content-center">
      <!-- Go to Top arrow button -->
      <a href="#">
        <i class="bi bi-arrow-up"></i>
      </a>
    </div>
  </footer>

  <!-- JS Files -->
  <script src="../../assets/bootstrap/js/bootstrap.bundle.js"></script>

</body>

</html>