<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Charlotte Lewis - Portefeuille de compétences</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Cardo:ital,wght@0,400;0,700;1,400&display=swap"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../../assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../assets/bootstrap/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Main CSS File -->
    <link href="../../assets/css/main.css" rel="stylesheet">
</head>

<body style="min-width: 100dvw" id="fireworks-container">

<!-- ======= Header ======= -->
<header class="header d-flex align-items-center fixed-top py-2">
    <div class="container-fluid align-items-center">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg border-bottom" data-bs-theme="dark">
                <div class="container-fluid p-0">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse container-fluid" id="navbarNav">
                        <ul class="navbar-nav container-fluid justify-content-between">
                            <li><a href="../../index.html">Home</a></li>
                            <li><a href="../aboutMe.html">A propos de moi</a></li>
                            <li class="dropdown">
                                <a class="active" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <span>Gallerie de projets</span>&nbsp;&nbsp;<i class="bi bi-chevron-down"></i>
                                </a>
                                <ul class="dropdown-menu my-lg-3 ms-3 ms-lg-2 py-0 container-fluid border-0">
                                    <li><a href="../gallery.html">Projets personnels</a></li>
                                    <li><a class="active" href="../SAE_info.html">SAE</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="../contact.html">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header><!-- End Header -->


<main style="margin-top: 70px; min-width: 100dvw">
    <div class="row">
        <!-- Fixed project-info on the left -->
        <div class="col-lg-3 ms-3 my-5 pt-1 d-none d-lg-flex position-fixed align-items-center flex-column justify-content-center">
            <div class="project-info front">
                <h3 class="pb-3">Informations projet</h3>
                <ul>
                    <li class="d-flex flex-column pb-2">
                        <span class="category">Catégorie</span><span>Projet</span>
                    </li>
                    <li class="d-flex flex-column pb-2">
                        <span class="category">Date de projet</span><span>Octobre 2023 - Décembre 2023</span>
                    </li>
                    <li class="category">Contraintes de travail :</li>
                    <li class="pb-2">
                        <ul class="normal ps-3">
                            <li>
                                Equipe de 3
                            </li>
                            <li>
                                Projet de PHP
                            </li>
                        </ul>
                    </li>
                    <li class="category">LANGAGES :</li>
                    <li class="pb-2">
                        <ul class="normal ps-3">
                            <li>
                                PHP
                            </li>
                            <li>
                                HTML/CSS
                            </li>
                            <li>
                                JS
                            </li>
                        </ul>
                    </li>
                    <li class="d-flex flex-column pb-2">
                        <a class="align-self-start btn mt-2" href="https://webinfo.iutmontp.univ-montp2.fr/~lewisc/make-believe-food/web/controleurFrontal.php" target="_blank">Voir le site</a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Scrollable content on the right -->
        <div class="col-lg-9 offset-lg-3 col-12">
            <section class="my-5 d-flex flex-column justify-content-center align-items-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-7 text-center">
                            <h2 class="mb-3 front">Site vitrine en PHP</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-5 mt-5 pt-1 d-flex d-lg-none flex-column">
                            <div class="project-info front">
                                <h3 class="pb-3">Informations projet</h3>
                                <ul>
                                    <li class="d-flex flex-column pb-2">
                                        <span class="category">Catégorie</span><span>Projet</span>
                                    </li>
                                    <li class="d-flex flex-column pb-2">
                                        <span class="category">Date de projet</span><span>Octobre 2023 - Décembre 2023</span>
                                    </li>
                                    <li class="category">Contraintes de travail :</li>
                                    <li class="pb-2">
                                        <ul class="normal ps-3">
                                            <li>
                                                Equipe de 3
                                            </li>
                                            <li>
                                                Projet de PHP
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="category">LANGAGES :</li>
                                    <li class="pb-2">
                                        <ul class="normal ps-3">
                                            <li>
                                                PHP
                                            </li>
                                            <li>
                                                HTML/CSS
                                            </li>
                                            <li>
                                                JS
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="d-flex flex-column pb-2">
                                        <a class="align-self-start btn mt-2" href="https://webinfo.iutmontp.univ-montp2.fr/~lewisc/make-believe-food/web/controleurFrontal.php" target="_blank">Voir le site</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row text-justify mt-md-5 gx-1">
                        <div class="px-2 front">
                            <div class="row">
                                <p class="col-12 text-center">
                                    Dans le cadre de ce projet de site vitrine, j'ai eu
                                    l'opportunité de mettre en pratique mes compétences en PHP.
                                </p>
                            </div>
                            <div class="row">
                                <div class="col-lg-1 d-none d-lg-flex align-items-center justify-content-center mb-4">
                                    <i class="bi-clock"></i>
                                </div>
                                <p class="col-lg-11 col-md-12 mb-4">
                                    L'objectif principal était de développer une application web dynamique avec une
                                    interface utilisateur fonctionnelle (compétence 1 du BUT : <strong>réaliser un
                                    développement d'application</strong>).
                                </p>
                            </div>
                            <div class="row">
                                <p class="col-lg-11 col-12 mb-4">
                                    Une part importante de mon travail a également été dédiée à <strong>la gestion des
                                    données et de l'information</strong> (compétence 4 du BUT). Cela impliquait la mise
                                    à jour d'une base de données que le site interroge pour assurer le bon fonctionnement
                                    de l'application web. Ainsi, en arrière-plan de l'interface utilisateur, j’ai dû créer
                                    une base de données contenant toutes les informations nécessaires telles que les
                                    données des comptes clients, les informations sur les produits, l'historique
                                    des achats, etc.
                                </p>
                                <div class="col-lg-1 d-lg-flex d-none align-items-center justify-content-center mb-4">
                                    <i class="bi bi-tags"></i>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-1 d-none d-lg-flex align-items-center justify-content-center mb-4">
                                    <i class="bi bi-code-slash"></i>
                                </div>
                                <p class="col-lg-11 col-12 mb-4">
                                    Ce projet a également constitué une opportunité précieuse pour mettre en
                                    pratique mes compétences relationnelles, notamment à travers la distribution
                                    efficace des tâches au sein de l'équipe (compétence 6 du BUT : <strong>collaborer au
                                    sein d'une équipe informatique</strong>).
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <div class="row">
                <!-- ======= Footer ======= -->
                <footer class="p-3">
                    <div class="container d-flex justify-content-center">
                        <!-- Go to Top arrow button -->
                        <a href="#">
                            <i class="bi bi-arrow-up"></i>
                        </a>
                    </div>
                </footer>
            </div>
        </div>

    </div>

</main>
<!-- End main -->

<!-- JS Files -->
<script src="../../assets/bootstrap/js/bootstrap.bundle.js"></script>
<script src="../../assets/fireworks.js"></script>


</body>

</html>